<!doctype html>
<html lang="en">

<!-- HEAD -->
<%- include('./partials/head') %> 

<body>


<!-- HEADER -->  
<%- include('./partials/header') %> 


  <main>

    <!-- QUE ES EL ENCOPE? -->
    <div class="container-fluid">
      <div class="row justify-content-center">
          <div class="col-xs-12 col-md-6 col-lg-5 pt-5">
            <h2 class="text-start">¿Quienes somos?</h2><br>
              <p>El Ente de Cooperación Técnica y Financiera es un Organismo que tiene la finalidad de capacitar laboralmente y modernizar los métodos operativos dentro de los talleres de laborterapia en los que participan las personas privadas de libertad alojadas bajo jurisdicción de la Dirección Nacional del Servicio Penitenciario Federal. </p>  
              <hr class="linea-textos">          
          </div>
          <div class="col-xs-12 col-md-6 col-lg-5 ms-4 mb-0">            
              <iframe  width="593" height="320" src="https://www.youtube.com/embed/tW2tyE4rpRw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen class="videoUnidades"></iframe>          
                  </div>
      </div>
  </div>

    <!-- VISION Y MISION -->

    <div class="container-fluid vision">
        <div class="row justify-content-center">
        <div class="col-xs-12 col-md-6 col-lg-5  p-5 ms-4 ">
            <h1>Visión</h1>
            <p>Ser un modelo referencial como organismo, en la planificación, desarrollo y desempeño del trabajo en contexto de encierro. <br><br> Proyectando una vida diferente para las personas privadas de la libertad y de una manera altruista brindar un Servicio a la Sociedad.</p>
            <hr>

        </div>
        <div class="col-xs-12 col-md-6 col-lg-6 text-start p-5 ms-4">
            <h1>Misión</h1>
            <p>La finalidad es la de generar hábitos, habilidades y responsabilidades que le permitan a la persona ingresar al mercado laborar después de su permanencia <br> en el sistema penitenciario o bien llevar adelante emprendimientos que le <br> permitan ganarse la vida honradamente. <br>Apostamos a la creación de oportunidades y la modernización de los métodos operativos de trabajo de todos los talleres productivos.</p>
            <hr>
        </div>
            </div>
        </div>  
            
        <!-- Valores de la organizacion -->

         <div class="container">
            <div class="row justify-content-center">
                <div class="col-xs-12 col-md-6 col-lg-12 m-3 p-3 ">
                    <h1>Valores y Principios del Organismo</h1>
                    <strong>Servicio a la Sociedad</strong>
                    <p>Trabajar al servicio de las personas privadas de su libertad y como así también de la Sociedad, brindando las herramientas necesarias para una adecuada reinserción social.</p>
                    <strong>Transparencia</strong>
                    <p>Ejercer nuestra función con eficiencia, imparcialidad, diligencia, transparencia, honradez y competencia, teniendo como principal objetivo la correcta administración de los bienes confiados a nuestro cargo y la prestación de un servicio directo a las personas privadas de la libertad, mejorando la calidad de vida de estos y el futuro bienestar de la comunidad. 
                    </p>
                    <strong>Integridad</strong>
                    <p>
                      Actuar sin privilegiar ni discriminar a nadie, ajustándose a principios de objetividad e independencia, cumpliendo con las normas de ética y conducta aplicable al organismo. Tomar siempre decisiones acordes en aras de procurar el interés general, actuando con honradez, responsabilidad en la realización del trabajo y en el empleo de los recursos, documentos, bienes y cualquier otro material asignado a la realización de la tarea profesional.   
                    </p>
                    <strong>Confiabilidad y Credibilidad</strong>
                    <p>Aplicar procedimientos que garanticen el desempeño adecuado en cada una de nuestras funciones, primando la coherencia en la gestión, el cumplimiento con lo prometido, emitiendo opiniones fundadas en principios científico-técnicos y siempre teniendo presente como contexto el marco Legal y Normativo vigente.</p>
                    <strong>Confidencialidad</strong>
                    <p>Tratar en forma reservada en los casos que corresponda, la información que se reciba en el ejercicio de las funciones de registro, fiscalización, control y vigilancia. Tanto en relación a la intimidad y/o privacidad de las personas, como con la información de carácter sensible o privada de organismos, empresas y/o asociaciones.</p>
                    <strong>Desarrollo profesional</strong>
                    <p>Asumir el compromiso de emplear los medios de necesarios para el perfeccionamiento y capacitación constante del personal, para un futuro proceso óptimo al momento de educar y capacitar a los internos privados de su libertad. Obteniendo como resultado  aptitudes pertinentes para el adecuado diseño y la producción de los servicios de manera correcta, precisa, económica, eficiente y eficaz.</p>
                </div>

            </div>

         </div>  

         <div>
          <h2>Autoridades del Organismo</h2><br>
         </div>
         
         <div class="container">
          <div class="row p-0">
            <div class="col-xs-12 col-md-12 col-lg-12">
              <img src="./images/nosotros/autoridades.png" alt="" class="mx-auto img-fluid d-block"  width="">
            </div>
          </div>
         </div>
      

<!--LOGOS COLABORADORES-->

<%- include('./partials/colab') %>    


  </main>


   <!-- FOOTER -->

 <%- include('./partials/footer') %>
 
  <!-- SCRIPTS DE EFECTOS/BOOTSTRAP5 -->

<%- include('./partials/scripts') %> 

</body>
</html>