<!DOCTYPE html>
<html lang="en">
  <%- include('../../partials/head') %>

  <body style="background-color: rgb(243, 241, 238)">
    <nav class="navbar navbar-expand-sm navbar-light bg-light shadow-3">
      <div class="container">
        <button
          class="navbar-toggler d-lg-none"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="collapsibleNavId"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <button
          class="btn btn-transparent"
          type="button"
          data-bs-toggle="offcanvas"
          data-bs-target="#offcanvasRight"
          aria-controls="offcanvasRight"
        >
          <img
            id="userIconProfile"
            src="<%= /http/.test(userLogin.icon) ? userLogin.icon : `/images/iconsProfile/${userLogin.icon}` %>"
            class="iconProfile me-2"
            alt=""
          />
          <%= userLogin.name %> <i class="fa-solid fa-caret-down fa-lg"></i>
        </button>   
        <!-- Menú de navegación -->
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto"> <!-- 'ms-auto' para alinear a la derecha -->
            <li class="nav-item">
              <a class="nav-link" href="/stock">Regresar</a>
            </li>
          </ul>
        </div>
      </div>    
    </nav>

    <main>
      <%- include('../../partials/modals') %> <%- include('../../partials/canvasMenu')
      %>


      <!-- TITULO H1 -->
      <div class="container-fluid mt-4">
        <p class="text-black h2 text-center shadow-3">
          <strong>Talleres dados de baja</strong>
        </p>
        <hr class="text-black" />        
      </div>
      

     
      <!-- TABLA DE PRODUCTOS -->
  
      <div class="container-fluid">
        <button type="button" class="btn btn-outline-primary ms-3 btn-sm mt-1 mb-2" onclick="window.location.href='/stock/excelTalleres'">
          <i class="fa-solid fa-download"></i> Exportar Excel</i>
        </button>
        <a href="/stock/talleresAprobados" class="btn btn-sm btn-success mt-1 mb-2">Ver Talleres Aprobados <i class="fa-solid fa-circle-check"></i></a>
        <a href="/stock/talleresTable" class="btn btn-sm btn-primary mt-1 mb-2">En Proceso de Aprobación <i class="fa-solid fa-clock"></i></a>
        <div class="d-flex justify-content-center align-content-center align-items-center">
          <!-- Paginación -->
      <nav aria-label="Page navigation example">
        <ul class="pagination">
            <% if (currentPage > 1) { %>
                <li class="page-item">
                    <a class="page-link" href="?page=<%= currentPage - 1 %>&limit=<%= limit %>"><i class="fa-solid fa-backward-fast"></i></a>
                </li>
            <% } %>
    
            <% for (let i = 1; i <= totalPages; i++) { %>
                <li class="page-item <%= currentPage === i ? 'active' : '' %>">
                    <a class="page-link" href="?page=<%= i %>&limit=<%= limit %>"><%= i %></a>
                </li>
            <% } %>
    
            <% if (currentPage < totalPages) { %>
                <li class="page-item">
                    <a class="page-link" href="?page=<%= currentPage + 1 %>&limit=<%= limit %>"><i class="fa-solid fa-forward-fast"></i></a>
                </li>
            <% } %>
        </ul>
    </nav>
    </div>      
       <br> 
        <br> 
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Taller</th>
                    <th scope="col">Detalle</th>
                    <th scope="col">Expediente</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Creado</th>
                    <th scope="col">Destino</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <% talleres.forEach(item => { %>
                    <tr>
                        <td class="text-center"><%= item.nombre %></td>
                        <td><%= item.detalle %></td>
                        <td><%= item.expediente %></td>
                        <td><%= item.estado %></td>
                        <td><%= new Intl.DateTimeFormat('es-AR', {
                          year: 'numeric',
                          month: 'long',
                          day: 'numeric',
                          hour: 'numeric',
                          minute: 'numeric',
                          second: 'numeric',
                          timeZone: 'America/Argentina/Buenos_Aires'
                        }).format(new Date(item.createdAt))%></td>
                        <td><%= item.destinoTaller.nombreDestino %></td>
                        <td>
                            <!-- Enlace para editar -->
                            <a href="/stock/editTaller/<%= item.id %>"><button class="btn btn-success"><i class="fa-solid fa-pen-to-square"></i></button></a>
                            
                          
                        </td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
    

   
    </main>

    <%- include('../../partials/scripts') %>

    <script
      src="//code.tidio.co/hlix5kfat3m92rb4tfebsyogegqfbmo3.js"
      async
    ></script>

    <script>
      const deleteForms = document.querySelectorAll('.deleteTallerForm');

deleteForms.forEach(form => {
    form.addEventListener('submit', function (event) {
        event.preventDefault();

        Swal.fire({
            title: "¿Seguro quieres borrar el taller?",
            text: "Chequea bien el taller que deseas eliminar",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#3085d6",
            cancelButtonColor: "#d33",
            confirmButtonText: "Si, eliminar!"
        }).then((result) => {
            if (result.isConfirmed) {
                Swal.fire({
                    title: "Eliminado!",
                    text: "El producto fue eliminado",
                    icon: "success"
                });

                form.submit();
            }
        });
    });
});
    </script>
  </body>
</html>
