<!DOCTYPE html>
<html lang="en">
  <%- include('../../partials/head') %>

  <body style="background-color: rgb(243, 241, 238)">
    <nav class="navbar navbar-expand-sm navbar-light bg-light shadow-3">
      <div class="container">
        <button
          class="navbar-toggler d-lg-none"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNav"
          aria-controls="collapsibleNavId"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <button
          class="btn btn-transparent"
          type="button"
          data-bs-toggle="offcanvas"
          data-bs-target="#offcanvasRight"
          aria-controls="offcanvasRight"
        >
          <img
            id="userIconProfile"
            src="<%= /http/.test(userLogin.icon) ? userLogin.icon : `/images/iconsProfile/${userLogin.icon}` %>"
            class="iconProfile me-2"
            alt=""
          />
          <%= userLogin.name %> <i class="fa-solid fa-caret-down fa-lg"></i>
        </button> 
          <!-- Menú de navegación -->
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto"> <!-- 'ms-auto' para alinear a la derecha -->
            <li class="nav-item">
              <a class="nav-link" href="/stock">Regresar</a>
            </li>
          </ul>
        </div>
      </div>      
    </nav>

    <main>
      <%- include('../../partials/modals') %> <%- include('../../partials/canvasMenu')
      %>


      <!-- TITULO H1 -->
      <div class="container-fluid mt-4">
        <p class="text-black h2 text-center shadow-3">
          <strong>Editar Producto: <%= producto.nombre %></strong>
        </p>
        <hr class="text-black" />        
    

        <!-- FORMULARIO AGREGAR PRODUCTO -->


        <div class="container shadow">
          <form action="/stock/editProduct/<%= producto.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="nombre">Nombre</label>
                <input type="text" class="form-control <%= (locals.errors && errors.nombre) && 'is-invalid'%>" id="nombre" name="nombre" placeholder="Ingrese su nombre" value="<%= producto.nombre %>">
                <small id="errorNombre" class="text-danger ms-2"><%= locals.errors && errors.nombre ? errors.nombre.msg : null %></small>
              </div>
              <div class="form-group col-md-6">
                <label for="unidadDeMedida">Unidad de Medida</label>
                <input class="form-control <%= (locals.errors && errors.medida) && 'is-invalid'%>" id="unidadDeMedida" name="medida" placeholder="Ingrese la unidad de medida" value="<%= producto.unidadDeMedida %>">
                <small id="errorNombre" class="text-danger ms-2"><%= locals.errors && errors.medida ? errors.medida.msg : null %></small>
              </div>
              <div class="form-group col-md-12">
                <label for="detalle">Detalle</label>
                <textarea name="detalle" class="form-control <%= (locals.errors && errors.detalle) && 'is-invalid'%>" id="detalle" placeholder="Ingrese el detalle" ><%= producto.detalle %></textarea>
              </div>
              <small id="errorDetalle" class="text-danger ms-2"><%= locals.errors && errors.detalle ? errors.detalle.msg : null %></small>
            </div>
            <div class="form-row">
              <div class="form-group col-md-12 mt-3">       
                <input type="file" name="producto" accept=".jpg, .jpeg, .png" class="form-control rounded <%= (locals.errors && errors._undefined) && 'is-invalid'%>" id="producto">
                <small id="errorProducto" class="text-danger ms-2"><%= locals.errors && errors._undefined ? errors._undefined.msg : null %></small>      
              </div>                      
            </div>
            <button type="submit" class="btn btn-primary mb-3">Enviar</button>
          </form>
        </div>

    </main>

    <%- include('../../partials/scripts') %>

    <script
      src="//code.tidio.co/hlix5kfat3m92rb4tfebsyogegqfbmo3.js"
      async
    ></script>
  </body>
</html>
