<!DOCTYPE html>
<html lang="en">
<%- include('../../partials/head') %>

  <body style="background-color: rgb(243, 241, 238)">
    <nav class="navbar navbar-expand-sm navbar-light bg-light shadow-3">
      <div class="container">
        <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse"
          data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <button class="btn btn-transparent" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight"
          aria-controls="offcanvasRight">
          <img id="userIconProfile"
            src="<%= /http/.test(userLogin.icon) ? userLogin.icon : `/images/iconsProfile/${userLogin.icon}` %>"
            class="iconProfile me-2" alt="" />
          <%= userLogin.name %> <i class="fa-solid fa-caret-down fa-lg"></i>
        </button>
        <!-- Menú de navegación -->
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto"> <!-- 'ms-auto' para alinear a la derecha -->
            <li class="nav-item">
              <a class="nav-link" href="/stock">Regresar</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <main>
      <%- include('../../partials/modals') %> <%- include('../../partials/canvasMenu') %>


          <!-- TITULO H1 -->
          <div class="container-fluid mt-4">
            <p class="text-black h2 text-center shadow-3">
              <strong>Productos</strong>
            </p>
            <hr class="text-black" />
          </div>



          <!-- TABLA DE PRODUCTOS -->

          <div class="container-fluid">
            <button type="button" class="btn btn-outline-primary ms-3 btn-sm mt-1 mb-2"
              onclick="window.location.href='/stock/ProductsTable'">
              <i class="fa-solid fa-download"></i>Exportar Excel</i>
            </button><br>
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Producto</th>
                  <th scope="col">Detalle</th>

                  <th scope="col">Insumos</th>
                  <th scope="col">Imagen</th>
                  <th scope="col">Acciones</th>
                </tr>
              </thead>
              <tbody>
                <% productos.forEach(item=> { %>
                  <tr>
                    <td class="text-center">
                      <%= item.nombre %>
                    </td>
                    <td>
                      <%= item.detalle %>
                    </td>

                    <td class="text-justify">
                      <% if (item.productos) { %>
                        <% item.productos.forEach(producto=> { %>
                          - <%= producto.cantidad %>
                            <%= producto.unidadDeMedida %>
                            <%= producto.nombre %> <i class="fa-solid fa-delete-left text-danger deleteInsumo"
                                data-producto-id="<%= item.id %>" data-insumo-id="<%= producto.id %>"></i><br>
                              <% }) %>
                                <% } %>


                    </td>
                    <td><img src="/images/productos/<%= item.imagen %>" alt="" width="70px" height="70px"
                        class="rounded"></td>
                    <td>


                      <!-- Botón de agregar ficha -->
                      <div class="row">

                        <div class="col-6">
                          <% if (!item.ficha) { %>
                            <button type="button" class="btn btn-facebook w-100" data-bs-toggle="modal"
                              data-bs-target="#fichaTecnica<%= item.id %>">
                              Ficha Técnica
                            </button>
                            <% } %>
                        </div>
                        <div class="<%= !item.ficha ? " col-6" : "col-12" %>">
                          <a href="/stock/addInsumo/<%= item.id %>"> <button class="btn btn-dark w-100">Insumos <i
                                class="fa-regular fa-square-plus"></i></button></a>
                        </div>
                      </div>




                      <!-- MODAL -->
                      <div class="modal fade" id="fichaTecnica<%= item.id %>" tabindex="-1"
                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel">Agregar Ficha: " <%= item.nombre %>"</h5>
                              <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                              <div class="container">
                                <form action="/stock/addFicha/<%= item.id %>?_method=PUT" method="POST"
                                  enctype="multipart/form-data">
                                  <div class="mb-3">
                                    <label for="expedienteFicha_<%= item.id %>" class="form-label text-left">Expediente
                                      de la Ficha Técnica</label>
                                    <input type="text"
                                      class="form-control <%= (locals.errors && errors.expedienteFicha) && 'is-invalid'%>"
                                      name="expedienteFicha" id="expedienteFicha_<%= item.id %>"
                                      placeholder="Ingrese número de expediente">
                                    <small id="errorExpediente_<%= item.id %>" class="text-danger ms-2">
                                      <%= locals.errors && errors.expedienteFicha ? errors.expedienteFicha.msg : null %>
                                    </small>
                                  </div>
                                  <div class="mb-3">
                                    <label for="ficha_<%= item.id %>" class="form-label">Ficha Técnica</label>
                                    <input type="file"
                                      class="form-control <%= (locals.errors && errors._undefined) && 'is-invalid'%>"
                                      name="ficha" id="ficha_<%= item.id %>" placeholder="Ingrese número de expediente">
                                    <small id="errorProducto_<%= item.id %>" class="text-danger ms-2">
                                      <%= locals.errors && errors._undefined ? errors._undefined.msg : null %>
                                    </small>
                                  </div>
                                  <button type="submit" class="btn btn-primary">Enviar</button>
                                </form>
                              </div>
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                            </div>
                          </div>
                        </div>
                      </div>

                      <!-- Enlace para editar y formulario para eliminar -->
                      <div class="row mt-2">
                        <div class="<%= !item.ficha ? 'col-12' : 'col-6' %>">
                          <a href="/stock/editProduct/<%= item.id %>">
                            <button class="btn btn-success w-100">Editar <i
                                class="fa-solid fa-pen-to-square"></i></button>
                          </a>
                        </div>
                        <div class="col-6">
                          <% if (item.ficha) { %>
                            <a href="/images/fichas/<%= item.ficha %>" target="_blank" class="btn btn-danger w-100">Ficha <i class="fa-solid fa-file-arrow-down"></i></a>
                          <% } %>                         
                        </div>
                      </div>
                    </td>


                  </tr>
                  <% }) %>
              </tbody>
            </table>
          </div>



    </main>

    <%- include('../../partials/scripts') %>

      <script src="//code.tidio.co/hlix5kfat3m92rb4tfebsyogegqfbmo3.js" async></script>

      <script>
        const deleteForms = document.querySelectorAll('.deleteProductForm');

        deleteForms.forEach(form => {
          form.addEventListener('submit', function (event) {
            event.preventDefault();

            Swal.fire({
              title: "Seguro quieres borrar el producto??",
              text: "Chequea bien el producto que deseas eliminar",
              icon: "warning",
              showCancelButton: true,
              confirmButtonColor: "#3085d6",
              cancelButtonColor: "#d33",
              confirmButtonText: "Si, eliminar!"
            }).then((result) => {
              if (result.isConfirmed) {
                Swal.fire({
                  title: "Eliminado!",
                  text: "El producto fue eliminado",
                  icon: "success"
                });

                form.submit();
              }
            });
          });
        });
      </script>
      <script>

        document.addEventListener("DOMContentLoaded", function () {
          const forms = document.querySelectorAll('form');

          forms.forEach(form => {
            form.addEventListener('submit', function (event) {
              event.preventDefault(); // Detener el envío del formulario para validar primero

              const inputs = form.querySelectorAll('input[type="text"], input[type="file"]');
              const expediente = form.querySelector('input[name="expedienteFicha"]');
              const ficha = form.querySelector('input[name="ficha"]');
              const regex = /^EX-\d{4}-\d{9}-APN-DS#[A-Z0-9]+$/;

              let errors = [];

              // Validación del formato del expediente
              if (!regex.test(expediente.value.trim())) {
                errors.push('El formato del expediente no es correcto. Ejemplo: EX-2023-114492446-APN-DS#ENCOPE');
              }

              // Validación del campo de ficha para recibir solo archivos PDF
              if (ficha.value.trim() && !ficha.value.trim().toLowerCase().endsWith('.pdf')) {
                errors.push('El archivo seleccionado en el campo de ficha debe ser un PDF.');
              }

              // Verificación de campos vacíos
              inputs.forEach(input => {
                if (!input.value.trim()) { // Verificar que el campo no esté vacío
                  errors.push(`El campo ${input.getAttribute('name')} es requerido.`);
                }
              });

              if (errors.length > 0) {
                let errorMessage = '<ul>';
                errors.forEach(error => {
                  errorMessage += `<li>${error}</li>`;
                });
                errorMessage += '</ul>';

                // Mostrar alerta de SweetAlert con los errores
                Swal.fire({
                  icon: 'error',
                  title: 'Oops...',
                  html: errorMessage
                });
              } else {
                // Si no hay errores, enviar el formulario
                form.submit();
              }
            });
          });
        });
      </script>

      <script>
        document.addEventListener("DOMContentLoaded", function () {
          const deleteIcons = document.querySelectorAll(".deleteInsumo");

          deleteIcons.forEach(icon => {
            icon.addEventListener("click", async function () {
              const idProducto = icon.dataset.productoId;
              const idInsumo = icon.dataset.insumoId;

              try {

                const response = await fetch(`http://localhost:3000/api/stock/deleteInsumo/${idProducto}`, {
                  method: "DELETE",
                  headers: {
                    "Content-Type": "application/json"
                  },
                  body: JSON.stringify({ insumo: idInsumo })
                });

                if (response.ok) {
                  const data = await response.json();
                  Swal.fire("Insumo removido correctamente!");
                  setTimeout(() => {
                    window.location.reload(); // Recargar la página después de 2 segundos
                  }, 1000);
                }

              } catch (error) {
                console.log(error);
              }
            })
          })

        })
      </script>


  </body>

</html>