<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head')  %>
         <!-- BOOTSTRAP -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-LlzyU/VBnkpiyLYMNU9dyB/szvDp50cD31U5Hp/3YqSqcItUyFDZdU6P25mJv4DxQv1oEfuULbRJwMu1xZbsCg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<body>
  
    <nav class="navbar navbar-expand-sm navbar-light bg-body-secondary">
        <div class="container">
          <a href="/inicio"><img src="<%= /http/.test(userLogin.icon) ? userLogin.icon : `/images/iconsProfile/${userLogin.icon}` %>" class="iconProfile" alt="" width="100px"></a>
        <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId"
          aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
          <ul class="navbar-nav me-auto mt-2 mt-lg-0">
            <li class="nav-item">
              <a class="nav-link active" href="#" aria-current="page">Bienvenido, <%= userLogin.name %> <span class="visually-hidden">(current)</span></a>
            </li>
         <!--    <li class="nav-item ">
              
              <a class="nav-link active" href="/products/agregar">Agregar Libro +</a>
            </li> -->
        
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Menú</a>
              <div class="dropdown-menu" aria-labelledby="dropdownId">
                <a class="dropdown-item" href="/licitacion/agregar">Crear Publicación +</a>
                <a class="dropdown-item" href="/users/perfil">Regresar</a>
                <a class="dropdown-item" href="/users/logout">Cerrar Sesión</a>
              </div>
            </li>
          </ul>
          <form action="/licitacion/search" method="get" class="d-flex my-2 my-lg-0">
            <input  class="form-control me-sm-2" type="search" name="search" placeholder="Buscar Licitación">
            <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Buscar</button>
          </form>
        </div>
      </div>
    </nav><br>
    
<main>

  <div class="contenedor">
    <table class="table">
        <h6 id="publicas">Todas las Publicaciones</h6>
        <thead>
            <tr>
                <th>Tipo</th>
                <th>Nombre</th>
                <th>Objetivo</th>
                <th>fecha de subida</th>
                <th>Expediente</th>
                <th>Acciones</th>
            </tr>
        </thead>
     
        <tbody>
          <% publicaciones.forEach(publicacion => { %>
          
            <tr>
                <td data-label="Tipo"><%= publicacion.tipo.nombre %></td>
                <td data-label="Nombre"><%= publicacion.titulo %></td>
                <td data-label="detalle"><%= publicacion.objetivo %></td>
                <td data-label="fecha"><%= publicacion.createdAt %></td>
                <td data-label="Expediente"><%= publicacion.expediente %></td>
                <td data-label="Acciones" class="boton-descarga"><a href="/images/licitaciones/<%= publicacion.archivo %>" download="licitacionPublica" class="btn btn-primary">Archivo</a><br><br>

                  <% if (locals.userLogin && (locals.userLogin.rol === 1 || locals.userLogin.rol === 2) ) { %>
                    <a href="/licitacion/editar/<%= publicacion.id %>" class="btn btn-success">Editar</a><br><br>
                  <!--Boton para abrir el modal-->
                
                <div class="boton-modal detalle-comprar">
                  <label for="btn-modal" style="background-color: rgb(199, 54, 66);">
                    Borrar
                  </label>
              </div>
              <!--Fin de Boton-->
                  
                 
                </td>
            </tr>   
           <!--Ventana Modal para consultar si queire elminar producto-->
       <input type="checkbox" id="btn-modal">
       <div class="container-modal">
           <div class="content-modal">
               <h2>¡ATENCION!</h2>
               <p>¿Estas seguro de que deseas eliminar esta publicación?</p>
               <div class="btn-cerrar">
                 <form action="/licitacion/eliminar/<%= publicacion.id %>?_method=DELETE" method="POST" >
                   <button type="submit">ELIMINAR <i class="fa-solid fa-trash"></i></button>
                  </form> 
                   <label for="btn-modal">CANCELAR</i></label>
               </div>
           </div>
           <label for="btn-modal" class="cerrar-modal"></label>
       </div>
      <!--Fin de Ventana Modal-->  
            <% } %>
            <% }) %>   
        </tbody>
    </table>
  </div>
   
    
    
</main>



<!-- BOOTSTRAP -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
 </body>
</html>