<!doctype html>
<html lang="es">

<!-- HEAD -->
<%- include('./partials/head') %> 

<body>

<!-- HEADER -->  
<%- include('./partials/header') %>    


<!-- cabecera uso interno -->
    
<div class="container-fluid titulares-secciones">
  <div class="row justify-content-center text-white">
      <div class="p-5 col-xs-12 col-md-6 col-lg-4 ">
          <h4 class="h3 titulo-lic">Contacto</h4>
          <hr class="linea-textos">
          <p class="h3 titulo-lic" style="font-weight:bolder;">Información de contacto para que puedas contactarte con nosotros</p>            
      </div>
      <div class="col-xs-12 col-md-6 col-lg-5  ">             
          <video onloadstart="this.muted=true" autoplay muted playsinline loop class="video-titulares">
            <source src="./images/VIDEOS TITULOS/NOTICIAS.mp4"></video>  
      </div>
  </div>
</div>

<!-- SECCIÓN CONTACTO -->

<main>
    
<!-- MAPA UBICACIÓN -->

<div class="contenedorUbiMapa">
    <h6>Ubicación Sede Central</h6>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11043.73932851005!2d-58.406081666438844!3d-34.62126825378244!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95a334d2d8774f0d%3A0x3ccfeadc6dfb597d!2sEncope!5e0!3m2!1ses-419!2sar!4v1669147519061!5m2!1ses-419!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>

<h5 class="ms-5">+INFO</h5>

<div class="container-fluid">
    <div class="row ms-3  mx-auto p-5 text-black">
    <div class="col-xs-12 col-md-6 col-lg-3">
        <p class="text-secondary text-start" style="font-size: 15px"> Si querés mayor información podes comunicarte con nosotros:</p> 
        <div class="mb-3">
            <hr style="width:40%">
           <p style="font-size: 15px"> Telefono: <br> 4362-8009/7865</p>
        </div>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-3">
        <p class="text-secondary text-start" style="font-size: 15px"> Departamento de Asistencia Técnica: <br> difusion@encope.gob.ar | Int 133</p> 
        <div class="mb-3">
            <hr style="width:40%">
            <p style="font-size: 15px;"> Avenida San Juan 369 <br> Lunes a viernes de  08:00 a 20:00 hs</p>
        </div>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-3">
        <p class="text-secondary text-start" style="font-size: 15px"> Dirección Comercialización: comercializacion@encope.gob.ar | Int128</p> 
        <div class="mb-3">
            <hr style="width:40%">
            <p style="font-size: 15px">Dirección Producción: <br> produccion@encope.gob.ar | Int 111/109</p>
        </div>
    </div>
    <div class="col-xs-12 col-md-6 col-lg-3">
        <p class="text-secondary text-start" style="font-size: 15px">Peculio: <br> peculio@encope.gob.ar | Int 106/107 </p> 
        <div class="mb-3">
            <hr style="width:40%">
            <p style="font-size: 15px">Jurídica: <br> juridica.encope@hotmail.com</p>
        </div>
    </div>
    </div>

</div>


<!--LOGOS COLABORADORES-->

<%- include('./partials/colab') %>     
  
    </main>

     <!-- FOOTER -->

 <%- include('./partials/footer') %> 

  <!-- SCRIPTS DE EFECTOS/BOOTSTRAP5 -->

<%- include('./partials/scripts') %>   
   
  </body>
  </html>