<!doctype html>
<html lang="es">

<!-- HEAD -->
<%- include('./partials/head') %> 

<body>

  
<!-- HEADER -->  
<%- include('./partials/header') %> 
<%- include('./partials/modals')  %> 
<%- include('./partials/canvasMenu')  %> 


       <!-- SECCION LICITACIONES -->
       <div style="background-color:#829529;">
        <div class="container">
          <div class="row justify-content-between align-items-center"> <!-- Edit the row classes to align flex items and position content on the row -->
            <div class="col-xs-12 col-md-6 col-lg-6">
              <p class="ms-4 h3 titulo-lic text-white">Licitaciones</p>
              <hr class="ms-4">
              <div class="ms-4 mb-3">
                <p class="text-start texto-descrip-lic text-white">Con el fin de promover la transparencia podes acceder a compras y contrataciones y demás gestiones comerciales que realiza el Ente de Cooperación Técnica y Financiera del Servicio Penitenciario Federal.</p>
              </div>
              <hr class="ms-4">
            </div>
            <div class="col-xs-12 col-md-6 col-lg-6 d-flex justify-content-center"> <!-- Edit the column classes to align flex items and position content on the column -->
              <a href="/images/PLAN ANUAL DE CONTRATACIONES 2024.pdf" target="_blank" download="PLAN DE COMPRAS-2024.pdf">
                <img src="/images/iconos/4.png" width="200px" alt="">
              </a>
            </div>
          </div>
        </div>
      </div>

<!-- SECCION TABLAS DE LICITACIONES -->


  <div class="contenedor mt-5">
    <table class="table">
        <div class="d-flex justify-content-center align-items-center">
          <%- include('./partials/tablaPaginateLicitacion')  %>
      </div>
        <thead>
            <tr>
               <th>Tipo</th>
                <th>Nombre</th>
                <th>Objetivo</th>
                <th>fecha de subida</th>
                <th>Acciones</th>
            </tr>
        </thead>
     
        <tbody id="licitacionTable">
         
        </tbody>
    </table>
  </div>
    
<!--LOGOS COLABORADORES-->

<%- include('./partials/colab') %> 

  </main>


   <!-- FOOTER -->

 <%- include('./partials/footer') %> 
 
  <!-- SCRIPTS DE EFECTOS/BOOTSTRAP5 -->

<%- include('./partials/scripts') %> 

<script src="/js/paginateLicitaciones.js"></script>

</body>
</html>