<!doctype html>
<html lang="es">

<!-- HEAD -->
<%- include('./partials/head') %> 

<body>

  
<!-- HEADER -->  
<%- include('./partials/header') %> 
<%- include('./partials/modals')  %> 
<%- include('./partials/canvasMenu')  %> 

    <!-- cabecera  -->
    
    <div class="container-fluid titulares-secciones">
        <div class="row justify-content-center text-white">
            <div class="p-5 col-xs-12 col-md-6 col-lg-4 ">
                <h4 class="h3 titulo-lic">Mapa de unidades</h4>
                <hr class="linea-textos">
                <p class="h3 titulo-lic" style="font-weight:bolder;">En esta sección podes conocer mas sobre las unidades de todo el país</p>            
            </div>
            <div class="col-xs-12 col-md-6 col-lg-5  ">             
                <video onloadstart="this.muted=true" autoplay muted playsinline loop class="video-titulares">
                  <source src="/images/VIDEOS TITULOS/MAPA.mp4"></video>  
            </div>
        </div>
    </div>
  
  


    <!-- INICIA MAPA DE UNIDADES -->
    <section class="contenedorMapa">

        <div class=" item1">
            <div>
                <img src="/images/mapa/MAPA.png" class="mx-auto d-block img-fluid" alt="">
            </div>       
        </div>
        <div class="itemMapa item2">
          <div>
              <a href="/unidades/u4.html" class="unidadMapa"><img src="/images/mapa/U4.png" alt=""></a>        
          </div>
        </div>
        <div class="itemMapa item3">
            <a href="/unidades/u5.html" class="unidadMapa"><img src="/images/mapa/U5.png" alt=""></a>
        </div>
        <div class="itemMapa item4">
            <a href="/unidades/u6.html" class="unidadMapa"><img src="/images/mapa/U6.png" alt=""></a>    
        </div>
        <div class="itemMapa item5">
            <a href="/unidades/u7.html" class="unidadMapa"><img src="/images/mapa/U7.png" alt=""></a>    
        </div>
        <div class="itemMapa item6">
            <a href="/unidades/u8.html" class="unidadMapa"><img src="/images/mapa/U8.png" alt=""></a>
        </div>
        <div class="itemMapa item7">
            <a href="/unidades/u10.html" class="unidadMapa"><img src="/images/mapa/U10.png" alt=""></a>
        </div>
        <div class="itemMapa item8">
            <a href="/unidades/u11.html" class="unidadMapa"><img src="/images/mapa/U11.png" alt=""></a>
        </div>
        <div class="itemMapa item9">
            <a href="/unidades/u12.html" class="unidadMapa"><img src="/images/mapa/U12.png" alt=""></a>
        </div>
        <div class="itemMapa item10">
            <a href="/unidades/u13.html" class="unidadMapa"><img src="/images/mapa/U13.png" alt=""></a>
        </div>
        <div class="itemMapa item11">
            <a href="/unidades/u14.html" class="unidadMapa"><img src="/images/mapa/U14.png" alt=""></a>
        </div>
        <div class="itemMapa item12">
            <a href="/unidades/u15.html" class="unidadMapa"><img src="/images/mapa/U15.png" alt=""></a>
        </div>
        <div class="itemMapa item13">
            <a href="/unidades/u16.html" class="unidadMapa"><img src="/images/mapa/U16.png" alt=""></a>
        </div>
        <div class="itemMapa item14">
            <a href="/unidades/u17.html" class="unidadMapa"><img src="/images/mapa/U17.png" alt=""></a>
        </div>
        <div class="itemMapa item15">
            <a href="/unidades/u19.html" class="unidadMapa"><img src="/images/mapa/U19.png" alt=""></a>
        </div>
        <div class="itemMapa item16">
            <a href="/unidades/u22.html" class="unidadMapa"><img src="/images/mapa/U22.png" alt=""></a>
        </div>
        <div class="itemMapa item17">
            <a href="/unidades/u25.html" class="unidadMapa"><img src="/images/mapa/U25.png" alt=""></a>
        </div>
        <div class="itemMapa item18">
            <a href="/unidades/u30.html" class="unidadMapa"><img src="/images/mapa/U30.png" alt=""></a>
        </div>
        <div class="itemMapa item19">
            <a href="/unidades/u31.html" class="unidadMapa"><img src="/images/mapa/U31.png" alt=""></a>
        </div>
        <div class="itemMapa item20">
            <a href="#" class="unidadMapa"><img src="/images/mapa/U34.png" alt=""></a>
        </div>
        <div class="itemMapa item21">
            <a href="/unidades/u35.html" class="unidadMapa"><img src="/images/mapa/U35.png" alt=""></a>
        </div>
        <div class="itemMapa item22">
            <a href="/unidades/cpf1.html" class="unidadMapa"><img src="/images/mapa/CPF1.png" alt=""></a>
        </div>
        <div class="itemMapa item23">
            <a href="/unidades/cpfII.html" class="unidadMapa"><img src="/images/mapa/CPF2.png" alt=""></a>
        </div>
        <div class="itemMapa item24">
            <a href="/unidades/noa.html" class="unidadMapa"><img src="/images/mapa/CPF3.png" alt=""></a>
        </div>
        <div class="itemMapa item25">
            <a href="/unidades/cpf4.html" class="unidadMapa"><img src="/images/mapa/CPF4.png" alt=""></a>
        </div>
        <div class="itemMapa item26">
            <a href="/unidades/cpf5.html" class="unidadMapa"><img src="/images/mapa/CPF5.png" alt=""></a>
        </div>
        <div class="itemMapa item27">
            <a href="/unidades/cpf6.html" class="unidadMapa"><img src="/images/mapa/CPF6.png" alt=""></a>
        </div>
        <div class="itemMapa item28">
            <a href="/unidades/cpfja.html" class="unidadMapa"><img src="/images/mapa/CFJA.png" alt=""></a>
        </div>
        <div class="itemMapa item29">
            <a href="/unidades/cpfcaba.html" class="unidadMapa"><img src="/images/mapa/CPF CABA.png" alt=""></a>
        </div>
    </section>



    
     <!--  <div class="container mapa"> 
        <div class="row ms-5 mt-5">
            <iframe loading="lazy" width="100%" height="705px" src="https://www.encope.gob.ar/mapa" title="MAPA" frameborder="0" allow="accelerometer; autoplay; 
            clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""> == $0    </iframe>
              </div>
        </div> -->
      






<!--LOGOS COLABORADORES-->

<%- include('./partials/colab') %> 
  
    </main>

     <!-- FOOTER -->

 <%- include('./partials/footer') %> 

  <!-- SCRIPTS DE EFECTOS/BOOTSTRAP5 -->

<%- include('./partials/scripts') %> 
    
   
  </body>
  </html>