<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <%- include('./partials/head') %> 
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/5.4.5/css/swiper.css">
  <link rel="stylesheet" href="/stylesheets/proyectos.css" />
      <!-- Swiper CSS -->
      <link rel="stylesheet" href="css/swiper-bundle.min.css" />
      <link rel="stylesheet" type="text/css" href="https://cdn.shopify.com/s/files/1/2979/3338/files/UGC-style.css" />
      
</head>

<!-- HEADER -->  
<%- include('./partials/header') %> 
<%- include('./partials/modals')  %>   
<%- include('./partials/canvasMenu')  %> 

<body>

    <div class="container mt-2">
        <h4>Proyectos Destacados <i class="fa-solid fa-gear fa-lg gearIcon"></i> </h4>
        <hr>
    </div>


    <!-- PRODUCTOS DESTACADOS -->

    <main class="mainProyectos">
        <div class="blog-slider">
            <div class="blog-slider__wrp swiper-wrapper">
          
              <div class="blog-slider__item swiper-slide">
                <div class="blog-slider__img">
                  <img src="/images/fotosProyectos/DSC_0403.JPG" alt="">
                </div>
                <div class="blog-slider__content">
               <!--    <span class="blog-slider__code">26 December 2019</span> -->
                  <div class="blog-slider__title">Carpinteria Metálica</div>
                  <div class="blog-slider__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis sequi qui, ex alias praesentium eveniet, nisi fugit recusandae cupiditate reprehenderit dignissimos unde vero! Ullam quasi voluptate itaque dolorum eum iusto.
                  Aperiam odit praesentium eveniet delectus dolor ipsum vitae necessitatibus animi </div>
                  <a href="https://youtu.be/hl0Fztcvxwo?si=5MdX8i8yzKTvt6Ca" class="blog-slider__button">Ver más</a>
                </div>
              </div>
              
              <div class="blog-slider__item swiper-slide">
                <div class="blog-slider__img">
                  <img src="/images/fotosProyectos/DSC_0427.JPG" alt="">
                </div>
                <div class="blog-slider__content">
               <!--    <span class="blog-slider__code">26 December 2019</span> -->
                  <div class="blog-slider__title">Ayres de Libertad malbec</div>
                  <div class="blog-slider__text">Se destaca que, Ayres de Libertad malbec, es el resultado de más de tres años de trabajo y dedicación con la Familia Bonfanti, quien brindo su conocimiento a través de cursos teórico-prácticos en materia de vitivinicultura que realizaron agentes maestros y privados de la libertad del CPF VI, quienes, más adelante, llevarían a cabo la recolección de las uvas en las propias tierras de dicho complejo.</div>
                  <a href="https://www.instagram.com/p/CzmAwjfOhH0/?hl=es" class="blog-slider__button">Ver más</a>
                </div>
              </div>

              <div class="blog-slider__item swiper-slide">
                <div class="blog-slider__img">
                  <img src="/images/fotosProyectos/DSC_0789.jpg" alt="">
                </div>
                <div class="blog-slider__content">
               <!--    <span class="blog-slider__code">26 December 2019</span> -->
                  <div class="blog-slider__title">Dulces y Mermeladas</div>
                  <div class="blog-slider__text">La Colonia Penal Subprefecto Miguel Rocha (Unidad 5) de General Roca, provincia de Rio Negro cuenta con un taller de elaboración de dulces. Aquí, la fruticultura🍎🍏 es una de las principales actividades laborales. El monte frutal🍐 presenta una superficie aproximada de 11 hectáreas, donde se cosecha manzana, pera, ciruela y membrillo.Parte de estas frutas se destinan a la elaboración de dulces y mermeladas</div>
                  <a href="https://www.youtube.com/watch?v=xWIqdJbwBWo&t=14s&ab_channel=ENCOPE" class="blog-slider__button">Ver más</a>
                </div>
              </div>
          
          
              <div class="blog-slider__item swiper-slide">
                  <div class="blog-slider__img">
                    <img src="/images/fotosProyectos/DSC_0800.JPG" alt="">
                  </div>
                  <div class="blog-slider__content">
                 <!--    <span class="blog-slider__code">26 December 2019</span> -->
                    <div class="blog-slider__title">Cultivo de Girgolas</div>
                    <div class="blog-slider__text">El proyecto “Cultivo de Girgolas Orgánicas” realizado en el Complejo Federal de Jóvenes Adultos de Marcos Paz, implicó ciertas etapas, cuidados y producción, y constituye una importante herramienta de reinserción social, ya que, además de centrarse en los cuidados y la producción de los hongos, también, ayuda a afianzar relaciones sociales, trabajar en equipo, como así también, conocer y respetar el medio ambiente.</div>
                    <a href="https://youtu.be/aRv2a5EZVIY?si=UbNXm8uibiRfZKLK" class="blog-slider__button">Ver más</a>
                  </div>
                </div>
              
              <div class="blog-slider__item swiper-slide">
                <div class="blog-slider__img">
                  <img src="/images/fotosProyectos/huerta.jpeg" alt="">
                </div>
                <div class="blog-slider__content">
               <!--    <span class="blog-slider__code">26 December 2019</span> -->
                  <div class="blog-slider__title">Taller de Huerta Orgánica</div>
                  <div class="blog-slider__text">Con más de 3 años de éxito en la Colonia Penal de Ezeiza - Unidad 19, el taller de Huerta Orgánica constituye el primer taller desarrollado en contexto de encierro en obtener la certificación de producto “Orgánico” por parte de la Organización Internacional Agropecuaria (OIA).</div>
                  <a href="https://youtu.be/kbbcqKU1TzI?si=-77frhsVrI-6SZqM" class="blog-slider__button">Ver más</a>
                </div>
              </div>
              
            </div>
            <div class="blog-slider__pagination"></div>
          </div>
    </main>

    <!-- MAS PRODUCTOS  -->

    <div class="container mt-2">
        <h4 class="fw-bold">Otros Productos y Talleres <i class="fa-solid fa-rocket fa-lg rocketIcon"></i> </h4>
        <hr>
    </div>


    <section>
        <div class="slick-wrapper home-insta">
            <div class="slider card-slider slick-slider">
                <!-- 1 -->
                <div class="card-slider-item">
                    <img src="/images/fotosProyectos/DSC_0403.JPG" alt="">
                    <div class="insta-post">
                        <p class="">@Deborah.A<br><strong>5 Star sim</strong><br>I used my sim in 12 countries for 30 days. It worked perfectly and was very cost effective. Thankyou.
                        </p>
                    </div>
                </div>
                <!-- 2 -->
                <div class="card-slider-item">
                    <img src="/images/fotosProyectos/DSC_0403.JPG" alt="">
                    <div class="insta-post">
                        <p class="">@Deborah.A<br><strong>5 Star sim</strong><br>I used my sim in 12 countries for 30 days. It worked perfectly and was very cost effective. Thankyou.
                        </p>
                    </div>
                </div>
                <!-- 3 -->
                <div class="card-slider-item">
                    <img src="/images/fotosProyectos/DSC_0789.jpg" alt="">
                    <div class="insta-post">
                        <p class="">@Brian T<br><strong>Works flawlessly!</strong><br>Easy to set up and worked well during our trip! Thanks SimsDirect! </p>
                    </div>
                </div>
        
                <!-- 5 -->
                <div class="card-slider-item">
                    <img src="/images/fotosProyectos/DSC_0800.JPG" alt="">
                    <div class="insta-post">
                        <p class="">@George.B<br><strong>Great Experience with SimsDirect</strong><br>Have used SimsDirect for two multi country trips to Europe. Everything worked perfectly. I would highly recommend this service.</p>
                    </div>
                </div>
                <!-- 6 -->
                <div class="card-slider-item">
                    <img src="/images/fotosProyectos/DSC_0946.JPG" alt="">
                    <div class="insta-post">
                        <p class="">@Kieren.M<br><strong>Couldn’t be happier</strong><br>Just put the sim and and off we went. Haven’t had any troubles. Would definitely use again. Thank you.</p>
                    </div>
                </div>
                <!-- 7 -->
                <div class="card-slider-item">
                    <img src="/images/fotosProyectos/DSC_0946.JPG" alt="">
                    <div class="insta-post">
                        <p class="">@Leeza.B<br><strong>Best overseas data experience I've had</strong><br>I’ve always relied on my own sim on global roaming and/or wifi locally to travel. after reading reviews online, I ordered the sim as I was o/seas for a month and always had fast speed data all day every day. Will definitely be using this service again when on holidays again.</p>
                    </div>
                </div>
                <!--8 -->
                <div class="card-slider-item">
                    <img src="/images/fotosProyectos/DSC_0946.JPG" alt="">
                    <div class="insta-post">
                        <p class="">@Warren.H<br><strong>So Smooth it was seemless</strong><br>SIM worked like a dream. Everything was online and ready to go by the time I reached my destination. Would definitely use again!</p>
                    </div>
                </div>
                <!-- 9 -->
                <div class="card-slider-item">
                    <img src="/images/fotosProyectos/DSC_0946.JPG" alt="">
                    <div class="insta-post">
                        <p class="">@Julie.C<br><strong>Amazing!</strong><br>The sim worked a treat - everywhere while i was in Europe - best $59 i've spent! Thank you and will be using you again when l travel!</p>
                    </div>
                </div>
                <!-- 10 -->
                <div class="card-slider-item">
                    <img src="/images/fotosProyectos/DSC_0946.JPG" alt="">
                    <div class="insta-post">
                        <p class="">@Bao.D<br><strong>Amazing</strong><br>Perfect, recommended to everyone I was travelling with that this is the website to go and buy travel a sim. Very reliable compared to the sims my friends got when in Europe. They said next time using this website. Cheers</p>
                    </div>
                </div>
                <!-- 11 -->
                <div class="card-slider-item">
                    <img src="/images/fotosProyectos/DSC_0946.JPG" alt="">
                    <div class="insta-post">
                        <p class="">@Jun.Y<br><strong>Works just like it should</strong><br>Excellent experience overall, the activation process is super easy and speed is quick, will use it on my next travel!</p>
                    </div>
                </div>
        
            </div>
        </div>
        
    </section>


    
<%- include('./partials/colab') %>     
  

<script type="text/javascript" src="https://cdn.shopify.com/s/files/1/2979/3338/files/UGC_-_new_v.3.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/5.4.5/js/swiper.min.js"></script>
<script type="text/javascript" src="script.js"></script>


<script>
    var swiper = new Swiper('.blog-slider', {
      spaceBetween: 30,
      effect: 'fade',
      loop: true,
      mousewheel: {
        invert: false,
      },
      // autoHeight: true,
      pagination: {
        el: '.blog-slider__pagination',
        clickable: true,
      }
    });
</script>

<%- include('./partials/scripts') %>   
<%- include('./partials/footer') %> 
</body>
</html>