<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <%- include('./partials/head') %> 
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/5.4.5/css/swiper.css">
  <link rel="stylesheet" href="/stylesheets/proyectos.css" />
      <!-- Swiper CSS -->
      <link rel="stylesheet" href="css/swiper-bundle.min.css" />
      <link rel="stylesheet" type="text/css" href="https://cdn.shopify.com/s/files/1/2979/3338/files/UGC-style.css" />
      <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>

      
</head>

<!-- HEADER -->  
<%- include('./partials/header') %> 
<%- include('./partials/modals')  %>   
<%- include('./partials/canvasMenu')  %> 

<body>

    <div class="container mt-2">
        <h4 class="fw-bold">Nuestros Productos <i class="fa-solid fa-gear fa-lg gearIcon"></i> </h4>
        <p>
          Crear  herramientas adecuadas,  transmitir buenos hábitos de trabajo, acompañar y concientizar sobre el cuidado del medio ambiente, generar productos de calidad y sobretodo naturales,  trabajar en equipo y  comprender que toda actividad lleva su debido proceso para poder llegar a un óptimo resultado.
        </p>
        <hr>
    </div>


    <!-- PRODUCTOS DESTACADOS -->

    <main class="mainProyectos">
        <div class="blog-slider">
            <div class="blog-slider__wrp swiper-wrapper">
          
              <div class="blog-slider__item swiper-slide">
                <div class="blog-slider__img">
                  <img src="/images/fotosProyectos/ventanas.jpeg" alt="">
                </div>
                <div class="blog-slider__content">
               <!--    <span class="blog-slider__code">26 December 2019</span> -->
                  <div class="blog-slider__title">Carpinteria Metálica</div>
                  <div class="blog-slider__text text-justify">Este es uno de los talleres en donde las personas privadas de libertad trabajan y se capacitan. Se encuentra en varias Unidades y Complejos Penitenciarios: Unidad 7, CPF III, CPF I, entre otros. Estos cuentan con el equipamiento de máquinas y herramientas adecuadas para elaborar productos tales como ventanas y pre-marcos, utilizando el aluminio como materia prima, mediante proyectos productivos para luego ser comercializados o entregados a alguna entidad a través del ENCOPE.
                     </div>
                  <a href="https://youtu.be/hl0Fztcvxwo?si=5MdX8i8yzKTvt6Ca" target="_blank" class="blog-slider__button">Ver más</a>
                </div>
              </div>
              
              <div class="blog-slider__item swiper-slide">
                <div class="blog-slider__img">
                  <img src="/images/fotosProyectos/vinos.jpeg" alt="">
                </div>
                <div class="blog-slider__content">
               <!--    <span class="blog-slider__code">26 December 2019</span> -->
                  <div class="blog-slider__title">Ayres de Libertad malbec</div>
                  <div class="blog-slider__text text-justify">Se destaca que, Ayres de Libertad malbec, es el resultado de más de tres años de trabajo y dedicación con la Familia Bonfanti, quien brindo su conocimiento a través de cursos teórico-prácticos en materia de vitivinicultura que realizaron agentes maestros y privados de la libertad del CPF VI, quienes, más adelante, llevarían a cabo la recolección de las uvas en las propias tierras de dicho complejo.</div>
                  <a href="https://www.instagram.com/p/CzmAwjfOhH0/?hl=es" target="_blank" class="blog-slider__button">Ver más</a>
                </div>
              </div>

              <div class="blog-slider__item swiper-slide">
                <div class="blog-slider__img">
                  <img src="/images/fotosProyectos/mermeladas.jpeg" alt="">
                </div>
                <div class="blog-slider__content">
               <!--    <span class="blog-slider__code">26 December 2019</span> -->
                  <div class="blog-slider__title">Dulces y Mermeladas</div>
                  <div class="blog-slider__text text-justify">La Colonia Penal Subprefecto Miguel Rocha (Unidad 5) de General Roca, provincia de Rio Negro cuenta con un taller de elaboración de dulces. Aquí, la fruticultura es una de las principales actividades laborales. El monte frutal presenta una superficie aproximada de 11 hectáreas, donde se cosecha manzana, pera, ciruela y membrillo.Parte de estas frutas se destinan a la elaboración de dulces y mermeladas</div>
                  <a href="https://www.youtube.com/watch?v=xWIqdJbwBWo&t=14s&ab_channel=ENCOPE" target="_blank" class="blog-slider__button">Ver más</a>
                </div>
              </div>
          
          
              <div class="blog-slider__item swiper-slide">
                  <div class="blog-slider__img">
                    <img src="/images/fotosProyectos/girgolas.jpeg" alt="">
                  </div>
                  <div class="blog-slider__content">
                 <!--    <span class="blog-slider__code">26 December 2019</span> -->
                    <div class="blog-slider__title">Cultivo de Girgolas</div>
                    <div class="blog-slider__text text-justify">El proyecto “Cultivo de Girgolas Orgánicas” realizado en el Complejo Federal de Jóvenes Adultos de Marcos Paz, implicó ciertas etapas, cuidados y producción, y constituye una importante herramienta de reinserción social, ya que, además de centrarse en los cuidados y la producción de los hongos, también, ayuda a afianzar relaciones sociales, trabajar en equipo, como así también, conocer y respetar el medio ambiente.</div>
                    <a href="https://youtu.be/aRv2a5EZVIY?si=UbNXm8uibiRfZKLK" target="_blank" class="blog-slider__button">Ver más</a>
                  </div>
                </div>
              
              <div class="blog-slider__item swiper-slide">
                <div class="blog-slider__img">
                  <img src="/images/fotosProyectos/huerta organica.jpeg" alt="">
                </div>
                <div class="blog-slider__content">
               <!--    <span class="blog-slider__code">26 December 2019</span> -->
                  <div class="blog-slider__title">Taller de Huerta Orgánica</div>
                  <div class="blog-slider__text text-justify">Con más de 3 años de éxito en la Colonia Penal de Ezeiza - Unidad 19, el taller de Huerta Orgánica constituye el primer taller desarrollado en contexto de encierro en obtener la certificación de producto “Orgánico” por parte de la Organización Internacional Agropecuaria (OIA).</div>
                  <a href="https://youtu.be/kbbcqKU1TzI?si=-77frhsVrI-6SZqM" target="_blank" class="blog-slider__button">Ver más</a>
                </div>
              </div>
              
            </div>
            <div class="blog-slider__pagination"></div>
          </div>
    </main>

    <!-- MAS PRODUCTOS  -->

    <div class="container mt-2">
        <h4 class="fw-bold">Otros Productos y Talleres <i class="fa-solid fa-rocket fa-lg rocketIcon"></i> </h4>
        <hr>
    </div>

 <section class="mb-5">
  <div class="container cardsProductosProyects"> 
    <div class="card me-2" style="width: 18rem;">
      <img src="/images/fotosProyectos/panaderia.jpeg" class="card-img-top imgProductosYTalleres " alt="...">
      <div class="card-body">
        <h5 class="card-title">Panaderías</h5>
        <p class="card-text text-justify">Cada establecimiento  continúa con actividades tradicionales como taller de panadería. Allí se elaboran productos tales como: pan francés,  pan saborizado,  prepizzas, bizcochos de grasa; galletitas pepa de dulce de membrillo o batata. Fast food como sandwich hamburguesa completo y tortilla de papas. Elaboración de productos de catering: todo tipo de  facturas, palmeritas,  alfajorcitos de maicena, fosforitos de jamón y queso, sándwich de miga, empanadas, scones, entre otros. 
          </p>
        <!-- <a href="https://www.instagram.com/p/CkeD3V8u03N/?utm_source=ig_web_copy_link" class="btn btn-primary">Ver más</a> -->
      </div>
    </div>

    <div class="card me-2" style="width: 18rem;">
      <img src="/images/fotosProyectos/limpieza.jpeg" class="card-img-top imgProductosYTalleres" alt="...">
      <div class="card-body">
        <h5 class="card-title">Productos de limpieza</h5>
        <p class="card-text text-justify">Algunas Unidades y Complejos Penitenciarios Federales han innovado en el rubro domisanitario. Se han dictado cursos de capacitación en la elaboración de productos de limpieza y artículos de higiene como: preparaciones destinadas a la limpieza en general, lavado, odorización, desodorización, higienización y desinfección. El Instituto Nacional de Tecnología Industrial (INTI) es el responsable de la certificación de estos  cursos de los que participan los internos trabajadores.
          </p>
       <!--  <a href="https://youtu.be/bxR2execq94?si=ByNnXUkWC4feZCsJ" class="btn btn-primary">Ver más</a> -->
      </div>
    </div>

    <div class="card me-2" style="width: 18rem;">
      <img src="/images/fotosProyectos/herreria.jpeg" class="card-img-top imgProductosYTalleres" alt="...">
      <div class="card-body">
        <h5 class="card-title">Herrrerías</h5>
        <p class="card-text text-justify">
          Dentro de las actividades industriales que se realizan en las unidades federales de nuestro país,  podemos encontrar al “taller de herrería” en el que se fabrican elementos para asar tales como: parrillas plegables, chulengo portátil con parrilla, juego de pala y atizador,   estacas asador para costillares regulable,  parrilla portátil plegable con patas liviana y de fácil transporte y la novedosa cocina rocket  es ideal para usar en el hogar, fácil de transportar y de peso liviano.
         </p>
<!--         <a href="https://www.instagram.com/p/CkwX0m-uXss/?utm_source=ig_web_copy_link" class="btn btn-primary">Ver más</a> -->
      </div>
    </div>

    <div class="card me-2" style="width: 18rem;">
      <img src="/images/fotosProyectos/porcicultura.jpeg" class="card-img-top imgProductosYTalleres" alt="...">
      <div class="card-body">
        <h5 class="card-title">Porcicultura</h5>
        <p class="card-text text-justify">La porcicultura ha crecido en los últimos años dentro de las talleres productivos del Encope, la mayoría de ellos cuenta con esta actividad y por eso, tal vez, sea considerado el taller agropecuario de mayor relevancia en el que participan las personas privadas de libertad. 
          La Unidad 12 y la Unidad 17 cuentan, además, con cabañas donde producen su propia raza porcina. También se practica en las siguientes Unidades; U.25, U.24, U.10, u.4, u.19 y U.11. 
          </p>
        <!-- <a href="https://youtu.be/bxR2execq94?si=ByNnXUkWC4feZCsJ" class="btn btn-primary">Ver más</a> -->
      </div>
    </div>

    <div class="card me-2" style="width: 18rem;">
      <img src="/images/fotosProyectos/carpinteria2.jpeg" class="card-img-top imgProductosYTalleres" alt="...">  
      <div class="card-body"><h5>Carpinterías</h5>
        <p class="card-text text-justify">El taller de carpintería es uno de los oficios existente en la mayoría de los establecimientos  federales  de nuestro país. Allí se trabaja la madera de forma artesanal creando productos con novedosos estilos tales como: mesa de luz, mesa de arrime, sillón de 3 cuerpos de pino, meza plegable de pino. También se realiza reciclado de pallets para posterior amado de composteras de diversos tamaños que son utilizadas en las huertas existentes en cada unidad.
          </p>
       <!--  <a href="https://www.instagram.com/p/CidT26DulIt/?utm_source=ig_web_copy_link" class="btn btn-primary">Ver más</a> -->
      </div>
    </div>

    <div class="card me-2" style="width: 18rem;">
      <img src="/images/fotosProyectos/carpinteria.jpeg" class="card-img-top imgProductosYTalleres" alt="...">
      <div class="card-body"><h5>Mesas y sillas</h5>
        <p class="card-text text-justify">Proyecto realizado en el Complejo Penitenciario Jovenes Adultos de Marcos Paz que combina la carpintería con la herrería para la realización de mesas y sillas. Este tipo de iniciativas y talleres se dan en la mayoría de complejos y unidades en las cuales se desarrollan este tipo de productos como así también otros que tienen que ver con la carpintería, la herrería, el aprendizaje de oficios y el manejo de las herramientas necesarias. 
          </p>
       <!--  <a href="https://www.instagram.com/p/CidT26DulIt/?utm_source=ig_web_copy_link" class="btn btn-primary">Ver más</a> -->
      </div>
    </div>

    <div class="card" style="width: 18rem;">
      <img src="/images/fotosProyectos/quesos.jpeg" class="card-img-top imgProductosYTalleres" alt="...">
      <div class="card-body">
        <h5 class="card-title">Queserías</h5>
        <p class="card-text text-justify">Con la misión de capacitar a los internos en la producción de diversos productos, la Colonia Penal de Ezeiza (Unidad 19) cuenta con un espacio laboral especial; la quesería.
          Esta actividad agropecuaria la realizan los internos trabajadores en conjunto con personal penitenciario quienes se capacitan constantemente en el rubro.          
          La leche obtenida por el tambo del establecimiento, cuenta con rodeo propio que se alimenta de pastura y verdeos sembrados para tal fin en los campos de la unidad, de alta calidad nutritiva y es utilizada para la elaboración de diversos productos.
          </p>
      <!--   <a href="https://www.instagram.com/p/CgPJ7LnOsZH/?utm_source=ig_web_copy_link" class="btn btn-primary">Ver más</a> -->
      </div>
    </div>
  </div>
  
 </section>

    
<%- include('./partials/colab') %>     
  

<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="slick/slick.min.js"></script>

<script type="text/javascript" src="https://cdn.shopify.com/s/files/1/2979/3338/files/UGC_-_new_v.3.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/5.4.5/js/swiper.min.js"></script>



<script>
    var swiper = new Swiper('.blog-slider', {
      spaceBetween: 30,
      effect: 'fade',
      loop: true,
      mousewheel: {
        invert: false,
      },
      // autoHeight: true,
      pagination: {
        el: '.blog-slider__pagination',
        clickable: true,
      }
    });
</script>

<script type="text/javascript">
 $(document).ready(function(){
  $('.cardsProductosProyects').slick({
    dots: false, // Oculta los puntos de navegación (dots)
    infinite: true,
    speed: 2000,
    slidesToShow: 3,
    slidesToScroll: 2,
    autoplay: true,
    autoplaySpeed: 1000,
    prevArrow: false, // Oculta el botón de "previous"
    nextArrow: false,
    responsive: [
      {
        breakpoint: 1024,
        settings: {
          slidesToShow: 3,
          slidesToScroll: 3,
          infinite: true,
          dots: false  // Oculta los puntos de navegación (dots)
        }
      },
      {
        breakpoint: 600,
        settings: {
          slidesToShow: 2,
          slidesToScroll: 2,
          dots: false  // Oculta los puntos de navegación (dots)
        }
      },
      {
        breakpoint: 480,
        settings: {
          slidesToShow: 1,
          slidesToScroll: 1,
          dots: false  // Oculta los puntos de navegación (dots)
        }
      } 
    ]

  });
});
		
</script>


<%- include('./partials/scripts') %>   
<%- include('./partials/footer') %> 

</body>
</html>