<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head')  %>
         <!-- bootstrap -->
        
          
<body  style="background-image: url('/images/imagen\ productos\ vector-03.png'); background-size: cover;">
  
    <nav class="navbar navbar-expand-sm navbar-light bg-light">
        <div class="container">
        <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId"
          aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
          <ul class="navbar-nav me-auto mt-2 mt-lg-0">
            <a class="nav-link active" href="/inicio" aria-current="page">Ir al Inicio<span class="visually-hidden">(current)</span></a>
            
            <li class="nav-item dropdown">
                
                <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Menú</a>
                <div class="dropdown-menu" aria-labelledby="dropdownId">
                  <% if (locals.userLogin && (locals.userLogin.rol === 1 || locals.userLogin.rol === 2) ) { %>
                    <a class="dropdown-item" href="/licitacion/publicaciones">Administrar Licitaciones</a>
                    
                    <% } %>
                </div>
              </li>
           

            <% if (locals.userLogin.rol === 1) { %>
                <li class="nav-item">
                    <a class="nav-link active" href="/users/dashboard" aria-current="page">Dashboard<span class="visually-hidden">(current)</span></a>
                </li> 
            <% } %>
            <!-- Button trigger modal -->
          
          </ul>
          <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Cambio de rol de usuario</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Para cambiar sus permisos de usuario primero deberá acreditar que es un agente editando su información personal a través del formulario agregando en el mismo su destino y su credencial. <br>
        Por último deberá realizar su solicitud via mail a la dirección <span class="text-bg-primary">informatica@encope.gob.ar</span>, indicando sus datos de usuario: nombre, apellido, credencial, destino y email. 
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
         
          <li class="nav-item me-3">
            <a class="nav-link active text-muted" href="#" aria-current="page">Bienvenido, <%= userLogin.name %> <span class="visually-hidden">(current)</span></a>
          </li>        
          <a href="/inicio"><img id="userIconProfile" src="<%= /http/.test(userLogin.icon) ? userLogin.icon : `/images/iconsProfile/${userLogin.icon}` %>" class="iconProfile" alt=""></a>
        </div>
      </div>
    </nav><br>

    <main>
      


        <div class="container mb-5">
            <div class="row">
              <div class="col-12 col-md-3">
                <div class="card">
                  <img id="imgIcon" src="<%= /http/.test(userLogin.icon) ? userLogin.icon : `/images/iconsProfile/${userLogin.icon}` %>" alt="User Profile Image" class="card-img-top">
                  <div class="card-body">
                    <h5 class="card-title text-center"> <%= usuario.name %> <%= usuario.surname %> </h5>
                  </div>
                  <ul class="list-group list-group-flush text-center">
                    <li class="list-group-item">Rol de usuario: <%= usuario.rol.nombre %> </li>
                    <li class="list-group-item">Email: <%= usuario.email %> </li>
                   
                    <li class="list-group-item">Credencial: <%= usuario.credencial? usuario.credencial : '-' %> </li>
                    <li class="list-group-item">Destino: <%= usuario.destino? usuario.destino.nombreDestino : '-' %> </li>                 
                  </ul>
                  <div class="d-flex justify-content-center mb-1 mt-1">
                    <button type="button" class="btn btn-primary ms-1 mt-1 shadow" data-bs-toggle="modal" data-bs-target="#exampleModal">
                       Cambio de rol
                  </button>
                  <form id="logoutUser" action="/users/logout" method="GET">
                    <button onclick="showAlertAndLogout(event)" type="submit" class="btn btn-danger shadow  ms-1 mt-1">Cerrar Sesion</button>
                  </form>
                  </div>
        
                </div>
              </div>
              <div class="col-12 col-md-9" style="background-color: white; box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);">
                <h4 class="text-center mt-4">Editar info personal</h4>
                <hr>
                <div class="row justify-content-center">
                  <small class="text-center  text-danger mb-2">* En caso de ser agente del spf ingrese su credencial y destino *</small>
                  <form id="editInfo" class="col-sm-12 col-md-6 col-lg-10" action="/users/update/<%- locals.userLogin.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
                    <div class="row">
                      <div class="col-md-6 mb-3">
                        <label for="nombre" class="form-label">Nombre</label>
                        <input type="text" name="name" class="form-control <%= (locals.errors && errors.name) && 'is-invalid'%>" id="nombre" value="<%= usuario.name %>" >
                        <small class="text-danger ms-2"><%= locals.errors && errors.name ? errors.name.msg : null %></small>
                      </div>
                      <div class="col-md-6 mb-3">
                        <label for="apellido" class="form-label">Apellido</label>
                        <input type="text" name="surname" class="form-control <%= (locals.errors && errors.surname) && 'is-invalid'%>" id="apellido" value="<%= usuario.surname %>" >
                        <small class="text-danger ms-2"><%= locals.errors && errors.surname ? errors.surname.msg : null %></small>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6 mb-3">
                        <label for="destino" class="form-label">Destino</label>
                        <select name="destino" class="form-select <%= locals.errors && errors.destino ? 'errorInput' : null %>">
                          <option value="" selected hidden>Seleccione su destino...</option>
                          <% destino.forEach(({id, nombreDestino}) => { %>
                          <option value="<%= id %>" <%= id === usuario.destinoId && 'selected' %>><%= nombreDestino %></option>
                          <% }) %>
                        </select>
                        <small class="text-danger ms-2"><%= locals.errors && errors.destino ? errors.destino.msg : null %></small>
                      </div>
                      <div class="col-md-6 mb-3">
                        <label for="credencial" class="form-label <%= locals.errors && errors.credencial ? 'errorInput' : null %>">Credencial</label>
                        <input name="credencial" type="number" class="form-control" value="<%= usuario.credencial %>">
                        <small class="text-danger ms-2"><%= locals.errors && errors.credencial ? errors.credencial.msg : null %></small>
                      </div>
                    </div>
                    <div class="mb-3">
                      <label for="perfil" class="form-label">Editar Foto de perfil</label>
                      <input class="form-control <%= (locals.errors && errors.icon) && 'is-invalid'%>" name="icon" type="file" id="perfil">
                      <small class="text-danger ms-2"><%= locals.errors && errors.icon ? errors.icon.msg : null %></small>
                    </div>
                    <div class="text-center mb-4">
                      <button type="submit" onclick="showAlertAndSubmit(event)" class="btn btn-primary">Enviar</button>
                    </div>
                  </form>
                </div>
              </div>           
          
          
    </main>







    <!-- BOOTSTRAP -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
<script>
  const icon = document.getElementById('userIconProfile')
  const cardImg = document.getElementById('imgIcon')
  icon.addEventListener('error', () => {
  icon.src = 'https://cdn-icons-png.flaticon.com/512/149/149071.png'

})

cardImg.addEventListener('error', () => {
  cardImg.src = 'https://cdn-icons-png.flaticon.com/512/149/149071.png'
})

</script>

<script>
  function showAlertAndSubmit(event) {
    event.preventDefault();

    Swal.fire({
      title: '¿Estas seguro de editar tu información?',
      icon: 'warning',
      showCancelButton: true,
      confirmButtonColor: '#3085d6',
      cancelButtonColor: '#d33',
      confirmButtonText: 'Si, editar'
    }).then((result) => {
      if (result.isConfirmed) {
        // Si el usuario confirmó el alert, envía el formulario manualmente
        const form = document.getElementById("editInfo");
        Swal.fire({
  position: 'center',
  icon: 'success',
  title: 'Informacion editada correctamente',
  showConfirmButton: false,
  timer: 1500
})

        // Retraso de 5 segundos antes de enviar el formulario y cambiar la página
        setTimeout(function() {
          form.submit();
        }, 5000); // 2000 milisegundos = 2 segundos
      }
    });
  }
</script>
<script>
   function showAlertAndLogout(event) {
    event.preventDefault();

    Swal.fire({
      title: '¿Estas seguro de  salir?',
      icon: 'warning',
      showCancelButton: true,
      confirmButtonColor: '#3085d6',
      cancelButtonColor: '#d33',
      confirmButtonText: 'Si, cerrar sesión'
    }).then((result) => {
      if (result.isConfirmed) {
        // Si el usuario confirmó el alert, envía el formulario manualmente
        const logout = document.getElementById("logoutUser");
        let timerInterval
Swal.fire({
  title: '¡Esperamos que vuelvas pronto!',
  icon:'success',
  html: 'cerrando sesion en <b></b>...',
  timer: 5000,
  timerProgressBar: true,
  didOpen: () => {
    Swal.showLoading()
    const b = Swal.getHtmlContainer().querySelector('b')
    timerInterval = setInterval(() => {
      b.textContent = Swal.getTimerLeft()
    }, 100)
  },
  willClose: () => {
    clearInterval(timerInterval)
  }
}).then((result) => {
  /* Read more about handling dismissals below */
  if (result.dismiss === Swal.DismissReason.timer) {
    console.log('I was closed by the timer')
  }
})

        // Retraso de 5 segundos antes de enviar el formulario y cambiar la página
        setTimeout(function() {
          logout.submit();
        }, 5200); // 2000 milisegundos = 2 segundos
      }
    });
  }
  
  
  
    
  
</script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>

<%- include('./partials/scripts')  %>
</body>
</html>