<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head')  %>
         <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
         <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
         <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
         <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> 
         <!-- BOOTSTRAP -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">        
          
    <body>
  
      <nav class="navbar navbar-expand-sm navbar-light bg-body-secondary">
          <div class="container">
          <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav me-auto mt-2 mt-lg-0">
              <a class="nav-link active" href="/inicio" aria-current="page">Ir al Inicio<span class="visually-hidden"></a>
              <a class="nav-link active" href="/licitacion/publicaciones" aria-current="page">Regresar<span class="visually-hidden"></a>
              
              <li class="nav-item dropdown">
                  
                  <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Menú</a>
                  <div class="dropdown-menu" aria-labelledby="dropdownId">
                    <% if (locals.userLogin && locals.userLogin.rol === 1) { %>
                      <a class="dropdown-item" href="/licitacion/publicaciones">Administrar Licitaciones</a>
                  <% } %>
                    
                    <a class="dropdown-item" href="/users/logout">Cerrar Sesión</a>
                 
                  </div>
                </li>
              
            
            </ul>
         <!--  <form action="/search" method="get" class="d-flex my-2 my-lg-0">
            <input  class="form-control me-sm-2" type="search" name="search" placeholder="Buscar Libro">
            <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Buscar</button>
          </form> -->       
          <a href="/"><img src="/images/iconsProfile/<%= userLogin.icon %>" class="iconProfile" alt=""></a>
        </div>
      </div>
    </nav><br>

    <main>

        <div class="row ms-3 me-3 justify-content-center">
            <div class="col-md-6">
                <h4 class="text-center">Resultado de la busqueda:</h4>
                <hr>


                <% if (publicaciones.length != 0) { %>
                 <% publicaciones.forEach(publicacion => { %>
                    <div class="card">
                        <div class="card-header">
                         <%= publicacion.tipo.nombre %>
                        </div>
                        <div class="card-body">
                          <h5 class="card-title"><%= publicacion.titulo %></h5>
                          <p class="card-text"><%= publicacion.objetivo %></p>
                          <a href="/images/licitaciones/<%= publicacion.archivo %>" download="licitacionPublica" class="btn btn-primary">Archivo</a>
                          <a class="btn btn-success" href="/licitacion/editar/<%= publicacion.id %>">Editar</i></a>
                          <!-- Botón que abre la ventana modal -->
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#eliminarProducto">Borrar</button>

                     
                    <!-- Ventana modal -->
<div class="modal fade" id="eliminarProducto" tabindex="-1" aria-labelledby="eliminarProductoLabel" aria-hidden="true">
   <div class="modal-dialog">
     <div class="modal-content">
       <div class="modal-header">
         <h5 class="modal-title" id="eliminarProductoLabel">Confirmar eliminación de Publicación</h5>
         <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
       </div>
       <div class="modal-body">
         <form action="/licitacion/eliminar/<%= publicacion.id %>?_method=DELETE" method="POST">
           <p>¿Estás seguro/a de que quieres eliminar esta publicación?</p>
           <div class="d-flex justify-content-end">
             <button type="button" class="btn btn-primary me-2" data-bs-dismiss="modal">Cancelar</button>
             <button type="submit" class="btn btn-danger">Eliminar</button>
           </div>
         </form>
       </div>
     </div>
   </div>
 </div>
                     <!-- Fin ventana modal -->
                        </div>
                      </div><br>
                      
                      
                      
                 <% }) %>
                <% } %>




              
            </div>          
    </main>







    <!-- BOOTSTRAP -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>