<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head')  %>
      
        
          
<body  style="background-image: url('/images/imagen\ productos\ vector-03.png'); background-size: cover;"> 

    <main>
      <%- include('../partials/modals')  %>    
      <%- include('../partials/canvasMenu')  %> 


      <div id="wrapper">
		

		<!-- Sidebar -->
		<ul class="navbar-nav bg-gradient-secondary sidebar sidebar-dark accordion" id="accordionSidebar">

			

			<!-- Divider -->
			<hr class="sidebar-divider my-0">

			<!-- Nav Item - Dashboard -->
			<li class="nav-item active">
				<a class="nav-link" href="#">
					<i class="fas fa-fw fa-tachometer-alt"></i>
					<span>Dashboard - Cunitas</span></a>
			</li>

			<!-- Divider -->
			<hr class="sidebar-divider">

			<!-- Heading -->
			<div class="sidebar-heading mb-1">Menú kits</div>

			<!-- Nav Item - Charts -->
			<li class="nav-item">			
				<button type="button" class="btn btn-success nav-link mb-1" data-bs-toggle="modal" data-bs-target="#tablaDeStock">
					<span><i class="fa-solid fa-table"></i></span>Tabla de stock
					  </button>
		</li>

			<!-- Nav Item - Charts -->
			<li class="nav-item">
					<button type="button" class="btn btn-primary nav-link" data-bs-toggle="modal" data-bs-target="#kitsTerminados">
					<span><i class="fa-solid fa-gears"></i></span>	Kits Terminados
					  </button>
			</li>

			<!-- Nav Item - Pages -->
			<li class="nav-item">
				<a class="nav-link collapsed" href="/cunas/retiros">
					<i class="fa-solid fa-truck fa-folder"></i>
					<span>Registro de Retiros</span>
				</a>
			</li>

			

			<!-- Nav Item - Tables -->
			<li class="nav-item">
				<a class="nav-link" href="/inicio">
					<i class="fa-solid fa-house"></i>
					<span>Ir al Inicio</span></a>
			</li>

			<!-- Divider -->
			<hr class="sidebar-divider d-none d-md-block">
		</ul>
		<!-- End of Sidebar -->

			<!-- Content Wrapper -->
			<div id="content-wrapper" class="d-flex flex-column">

				<!-- Main Content -->
				<div id="content">
	
					<!-- Topbar -->
					<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
	
						<!-- Sidebar Toggle (Topbar) -->
						<button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
							<i class="fa fa-bars"></i>
						</button>
	
						<!-- Topbar Navbar -->
						<ul class="navbar-nav ml-auto">					
	
							<div class="topbar-divider d-none d-sm-block"></div>
	
							<!-- Nav Item - User Information -->
							<li class="nav-item dropdown no-arrow">
								<a class="nav-link dropdown-toggle" href="/" id="userDropdown">
									<% if (locals.userLogin) { %>
										<span class="mr-2 d-none d-lg-inline text-gray-600 small"><%= locals.userLogin.name %></span>
										<img class="img-profile rounded-circle" src="<%= locals.userLogin.icon %>" alt="Jordan Walke - Creador de React" width="60">
									<% } %>									
								</a>
							</li>	
						</ul>

						

						
							
					</nav>

					<!-- End of Topbar -->

				
        <!-- Content Row Top -->
				<div class="container-fluid mt-3">

				
					
				
					<!-- Content Row Movies-->
					<div class="row">

						<!-- Movies in Data Base -->
						<div class="col-md-4 mb-4">
							<div class="card border-left-primary shadow h-100 py-2">
								<div class="card-body">
									<div class="row no-gutters align-items-center">
										<div class="col mr-2" id="productos">
											
										</div>
										<div class="col-auto">
											<i class="fa-solid fa-person-breastfeeding fa-2x text-gray-300"></i>
										</div>
									</div>
								</div>
							</div>
						</div>

						<!-- Total awards -->
						<div class="col-md-4 mb-4">
							<div class="card border-left-success shadow h-100 py-2">
								<div class="card-body">
									<div class="row no-gutters align-items-center">
										<div class="col mr-2">
											<div class="text-xs font-weight-bold text-success text-uppercase mb-1">Unidades y Complejos participantes</div>
											<div class="h5 mb-0 font-weight-bold text-gray-800">8</div>
										</div>
										<div class="col-auto">
											<i class="fa-solid fa-gear fa-2x text-gray-300"></i>
										</div>
									</div>
								</div>
							</div>
						</div>

						<!-- Actors quantity -->
						<div class="col-md-4 mb-4">
							<div class="card border-left-warning shadow h-100 py-2">
								<div class="card-body">
									<div class="row no-gutters align-items-center">
										<div class="col mr-2" id="editores">
											
										</div>
										<div class="col-auto">
											<i class="fas fa-user fa-2x text-gray-300"></i>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- End movies in Data Base -->

					<div class="container-fluid">
						<div class="row justify-content-center">
							<div class="col-md-12">
								<h4 class="mb-3">Buscar Stock por Destino</h4>
								<hr>
								<form action="/cunas/StockPorDestino" method="POST">
									<div class="row mb-3 align-items-center"> <!-- Agregamos 'align-items-center' para centrar verticalmente -->
										<div class="col-md-6">
											<select class="form-control <%= (locals.errors && errors.destino) && 'is-invalid'%>" id="destino" name="destino">
												<option value="" selected hidden>Seleccione el destino</option>
												<% destinos.forEach(({id, nombreDestino}) => { %>
													<option value="<%= id %>"><%= nombreDestino.toUpperCase() %></option>
												<% }) %>
											</select>
											<small id="errorCantidadInicial" class="text-danger ms-2"><%= locals.errors && errors.destino ? errors.destino.msg : null %></small>
										</div>
										<div class="col-md-2"> <!-- Eliminamos 'align-self-center' y 'justify-content-center' -->
											<button type="submit" class="btn btn-primary w-100 d-flex justify-content-center align-items-center mb-4">Buscar</button>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>

						<!-- Genres in DB -->
						<div class="col-lg-12 mb-4">						
							<div class="card shadow mb-4">
								<div class="card-header py-3">
									<h5 class="m-0 font-weight-bold text-gray-800">Stock de productos en CPFII</h5>
								</div>
								<div class="card-body">
									<div class="row" id="stocksPorDestino">										

									</div>
								</div>
							</div>
						</div>

							
					<div class="container-fluid">
						<div class="row justify-content-center">
							<div class="col-md-12">
								<h4 class="mb-3">Buscar Stock</h4>
								<hr>
								<form action="/cunas/buscarStock" method="POST">
									<div class="row mb-3">
										<div class="col-md-5">
											
											<select class="form-control <%= (locals.errors && errors.producto) && 'is-invalid'%>" id="producto" name="producto">
												<option value="" selected hidden>Seleccione el producto</option>
												<% productos.forEach(({id, nombre}) => { %>
													<option value="<%= id %>"><%= nombre.toUpperCase() %></option>
												<% }) %>
											</select>
											<small id="errorProducto" class="text-danger ms-2"><%= locals.errors && errors.producto ? errors.producto.msg : null %></small>
										</div>
										<div class="col-md-5">
											
											<select class="form-control <%= (locals.errors && errors.destino) && 'is-invalid'%>" id="destino" name="destino">
												<option value="" selected hidden>Seleccione el destino</option>
												<% destinos.forEach(({id, nombreDestino}) => { %>
													<option value="<%= id %>"><%= nombreDestino.toUpperCase() %></option>
												<% }) %>
											</select>
											<small id="errorCantidadInicial" class="text-danger ms-2"><%= locals.errors && errors.destino ? errors.destino.msg : null %></small>
										</div>
										<div class="col-md-2 align-self-end">
											<button type="submit" class="btn btn-primary w-100 mb-4">Buscar</button>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
					
					
	
					<!-- Content Row Last Movie in Data Base -->
					<div class="row">

						<!-- Last Movie in DB -->
						<div class="col-lg-12 mb-4" id="kits">
							
						</div>

						<div id="stockGeneral">

						</div>
						<!-- End content row last movie in Data Base -->

					
					</div>
				</div>
				<!--End Content Row Top-->
			</div>
			<!-- End of MainContent -->

			<div class="modal fade" id="tablaDeStock" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog modal-xl">
				  <div class="modal-content">
					<div class="modal-header">
					  <h5 class="modal-title" id="exampleModalLabel">Tabla de Stock General</h5>
					  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
					 
					<div class="contenedor">
				<table class="table">     
					<thead>
						<tr>
							<th>Destino</th>
							<th>Producto</th>
							<th>Stock</th>
							<th>Fecha de creación</th>
							<th>Última Actualización</th>
						</tr>
					</thead>
					<tbody id="tablaStockGeneral">   
					
					
					</tbody>
				</table>
			  </div>
					</div>
					<div class="modal-footer">
					  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
					</div>
				  </div>
				</div>
			  </div>

    </main>


    
    <script>
      function showAlertAndSubmit(event) {
        event.preventDefault();
    
        Swal.fire({
          title: '¿Estas seguro de editar tu información?',
          icon: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#3085d6',
          cancelButtonColor: '#d33',
          confirmButtonText: 'Si, editar'
        }).then((result) => {
          if (result.isConfirmed) {
            // Si el usuario confirmó el alert, envía el formulario manualmente
            const form = document.getElementById("editInfo");
            Swal.fire({
      position: 'center',
      icon: 'success',
      title: 'Informacion editada correctamente',
      showConfirmButton: false,
      timer: 1500
    })
    
            // Retraso de 5 segundos antes de enviar el formulario y cambiar la página
            setTimeout(function() {
              form.submit();
            }, 1000); // 2000 milisegundos = 2 segundos
          }
        });
      }
    </script>
    
    <%- include('../partials/scripts')  %>
    
    <script src="/js/estadisticasCunas.js"></script>
    </body>
    </html>