<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head')  %>
      
        
          
<body  style="background-color: rgb(243, 241, 238);">
  
    <nav class="navbar navbar-expand-sm navbar-light bg-light shadow-3">
        <div class="container">
        <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId"
          aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <button class="btn btn-transparent" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"><img id="userIconProfile" src="<%= /http/.test(userLogin.icon) ? userLogin.icon : `/images/iconsProfile/${userLogin.icon}` %>" class="iconProfile me-2" alt="">
          <%= userLogin.name %> <i class="fa-solid fa-caret-down fa-lg"></i></button>
          <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModalInicial">
  Inicializar Stock de un Producto +
</button>
<!-- Modal -->
<div class="modal fade" id="exampleModalInicial" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Inicializar stock de un producto</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p class="">Al hacer click en "Entiendo y deseo continuar" verás un formulario donde puedes establecer el stock inicial de un producto junto con su cantidad. Esto se hace UNA SOLA VEZ por cada producto. <br><br>
          Una vez que envíes el formulario, podrás ver el producto junto con su stock en pantalla.
          En el recuadro del producto, encontrarás un botón para actualizar el stock. Este botón te permite sumar más cantidad a ese producto. </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#aumentar">
           Entiendo y deseo continuar
      </button>  
      </div>
    </div>
  </div>
</div>
      </div>
    </nav><br>

    <main>
      <%- include('../partials/modals')  %>    
      <%- include('../partials/canvasMenu')  %> 
     

        <div class="container-fluid"><p class="text-black h2 text-center shadow-3"><strong>Stock de Cunitas - <%= user.destino.nombreDestino %></strong></p>
            <hr class="text-white">
            <div class="row  justify-content-center">
           <% stock.forEach(item  => { %>
            <div class="col-md-3 mb-4">
              <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Stock de <%= item.producto.nombre.toUpperCase() %> </div>
                     
                    </div>
                    <div class="col-auto">
                      <i class="fa-solid fa-gear fa-2x text-gray-300"></i>
                    </div>  
                   
                    
                      <img src="/images/cunitas/<%= item.producto.imagen %>" class="img-fluid img-thumbnail float-end " style="height: 100px; width: 139px;" >  
                                        
                  </div>
                  <button type="button" class="btn btn-primary mt-2" data-bs-toggle="modal" data-bs-target="#update<%= item.id %>">
                    <%= item.cantidad %> Unidades
                </button> 
                    <button type="button" class="btn btn-outline-danger mt-2" data-bs-toggle="modal" data-bs-target="#update<%= item.id %>">
                      Actualizar Stock
                  </button>                   
                </div> 
                <small class="card-text">Actualizado: <strong><%= new Intl.DateTimeFormat('es-AR', {
                  year: 'numeric',
                  month: 'long',
                  day: 'numeric',
                  hour: 'numeric',
                  minute: 'numeric',
                  second: 'numeric',
                  timeZone: 'America/Argentina/Buenos_Aires'
                }).format(new Date(item.updatedAt)) %></strong></small>                  
              </div>
            </div>   


            <!-- Modal EDITAR STOCK -->
<div class="modal fade" id="update<%= item.id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Actualizar stock de: <%= item.producto.nombre.toUpperCase() %>  </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-md-6">
              <form action="/cunas/addStock/<%= item.id %>?_method=PUT" method="POST">
                <div class="form-group">
                  <label for="cantidad">Cantidad a sumar:</label>
                  <input type="number" class="form-control <%= (locals.errors && errors.cantidad) && 'is-invalid'%>"  id="cantidad" name="cantidad" placeholder="Ingrese una cantidad">
                  <small id="errorCantidad" class="text-danger ms-2"><%= locals.errors && errors.cantidad ? errors.cantidad.msg : null %></small>
                </div>                  
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>            
                <button type="submit" class="btn btn-primary">Enviar</button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>                            
           <% }) %>
          </div>
             
        </div>
        
    <!-- Button trigger modal -->
    <div class="container mb-5">
    
            
    
        
    </div>
    
                
   <!-- Modal AGREGAR AL STOCK-->
<div class="modal fade" id="aumentar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-center" id="exampleModalLabel">Carga el stock inicial de un producto</h5>
         
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          
        </div>
        <div class="modal-body">
          
          <div class="container">
            
            <div class="row justify-content-center">
             
              <div class="col-md-6">
           
                <form action="/cunas/" method="POST">
                  
                  <div class="form-group mb-2">
                    <label for="selectValor">Seleccione el producto:</label>
                    <select class="form-control <%= (locals.errors && errors.producto) && 'is-invalid'%>" id="destino" name="producto">
                      <option value="" selected hidden>Seleccione...</option>
                      <% if (user.destinoId == 31) { %>
                        <% cunas.forEach(({nombre, id}) => { %>
                          
                          <% if (id >= 14) { %>
                            <option value="<%= id %>"><%= nombre.toUpperCase() %></option>
                           <% } %>
                                                
                        <% }) %>    
                        <% } else if (user.destinoId == 2) { %>
                          <% cunas.forEach(({nombre, id}) => { %>
                           <% if (id >= 3 && id <= 10) { %>
                            <option value="<%= id %>"><%= nombre.toUpperCase() %></option>
                           <% } %>
                          <% }) %>                         
                        <% } else if (user.destinoId == 27) { %>
                          <% cunas.forEach(({nombre, id}) => { %>
                            <% if (id >= 4 && id <= 5) { %>
                             <option value="<%= id %>"><%= nombre.toUpperCase() %></option>
                            <% } %>
                           <% }) %>    
                        <% } else if (user.destinoId == 7){ %>
                          <% cunas.forEach(({nombre, id}) => { %>
                            <% if (id >= 6 && id <= 7) { %>
                             <option value="<%= id %>"><%= nombre.toUpperCase() %></option>
                            <% } %>
                           <% }) %>  
                        <% } else if (user.destinoId == 3 || user.destinoId == 4 || user.destinoId == 9 ) {  %>
                          <% cunas.forEach(({nombre, id}) => { %>
                            <% if (id >= 11 && id <= 13) { %>
                             <option value="<%= id %>"><%= nombre.toUpperCase() %></option>
                            <% } %>
                           <% }) %>  
                          <% } %>
                    

                    </select>
                    <small id="errorProducto" class="text-danger ms-2"><%= locals.errors && errors.tipo ? errors.tipo.msg : null %></small>
                  </div>
                  <div class="form-group">                   
                    <label for="cantidad">Cantidad Inicial:</label>
                    <input type="number" class="form-control <%= (locals.errors && errors.cantidad) && 'is-invalid'%>"  id="cantidad" name="cantidad" placeholder="Ingrese una cantidad">
                    <small id="errorCantidad" class="text-danger ms-2"><%= locals.errors && errors.cantidad ? errors.cantidad.msg : null %></small>
                  </div>
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                  <button type="submit" class="btn btn-primary">Enviar</button>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
       
        </div>
      </div>
    </div>
  </div> 
            </div>
          </div> 
    </main>

    <script>
      const icon = document.getElementById('userIconProfile')
      const cardImg = document.getElementById('imgIcon')
      icon.addEventListener('error', () => {
      icon.src = 'https://cdn-icons-png.flaticon.com/512/149/149071.png'
    
    })
    
    cardImg.addEventListener('error', () => {
      cardImg.src = 'https://cdn-icons-png.flaticon.com/512/149/149071.png'
    })
    
    </script>
    
    <script>
      function showAlertAndSubmit(event) {
        event.preventDefault();
    
        Swal.fire({
          title: '¿Estas seguro de editar tu información?',
          icon: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#3085d6',
          cancelButtonColor: '#d33',
          confirmButtonText: 'Si, editar'
        }).then((result) => {
          if (result.isConfirmed) {
            // Si el usuario confirmó el alert, envía el formulario manualmente
            const form = document.getElementById("editInfo");
            Swal.fire({
      position: 'center',
      icon: 'success',
      title: 'Informacion editada correctamente',
      showConfirmButton: false,
      timer: 1500
    })
    
            // Retraso de 5 segundos antes de enviar el formulario y cambiar la página
            setTimeout(function() {
              form.submit();
            }, 1000); // 2000 milisegundos = 2 segundos
          }
        });
      }
    </script>
    
    <%- include('../partials/scripts')  %>
    
    <script src="/js/resetUserPass.js"></script>
    </body>
    </html>