<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head')  %>
         <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
         <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
         <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
         <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> 
         <!-- BOOTSTRAP -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">        
          
    <body style="background-color: rgb(243, 241, 238);">
  
      <nav class="navbar navbar-expand-sm navbar-light bg-body-secondary">
          <div class="container">
          <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav me-auto mt-2 mt-lg-0">
              <a class="nav-link active" href="/cunas/estadistica" aria-current="page">Regresar<span class="visually-hidden"></a>          
            </ul>
        </div>
      </div>
    </nav><br>

    <main>

        <div class="row ms-3 me-3 justify-content-center mb-5">
            <div class="col-md-6">
                <h4 class="text-center">Resultado de la busqueda de stock en: <% if (stocks) { %>
                 <%= stocks[0].destino.nombreDestino %>
                <% } %></h4>
                <hr>


                <% if (stocks) { %> 
                  <% stocks.forEach(stock => { %>
                   
                       
                          <div class="card mx-auto" style="width: 18rem;">
                            <img src="/images/cunitas/<%= stock.producto.imagen %>" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title"> <%= stock.destino.nombreDestino %></h5>
                              <p class="card-text h6"><%= stock.producto.nombre.toUpperCase() %></p>
                              <a href="#" class="btn btn-primary">Unidades: <%= stock.cantidad %></a>
                              <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#retiroStock<%= stock.id %>">
                                <i class="fa-solid fa-truck fa-folder"></i> Retirar
                        </button>
                        <!-- Modal -->
    <div class="modal fade" id="retiroStock<%= stock.id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Retirar del Stock</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="container-fluid">
              <div class="row justify-content-center">
                <div class="col-md-12">
                  <form action="/cunas/retiros/<%= stock.id %>" method="POST" id="retirosForm">
                    <div class="form-group">
                      <label for="destino">Destino del retiro</label>
                      <select class="form-control destinoRetiro <%= (locals.errors && errors.destino) && 'is-invalid'%>" id="destino" name="destino">
                        <option value="<%= stock.destino.id %>" ><%= stock.destino.nombreDestino %></option>
                      </select>
                      <small id="errorDestino" class="text-danger ms-2"><%= locals.errors && errors.destino ? errors.destino.msg : null %></small>
                    </div>
                    <div class="form-group">
                      <label for="producto">Producto a retirar</label>
                      <select class="form-control productoRetiro <%= (locals.errors && errors.producto) && 'is-invalid'%>" id="producto" name="producto">
                        <option value="<%= stock.producto.id %>" ><%= stock.producto.nombre %></option>
                      </select>
                      <small id="errorProducto" class="text-danger ms-2"><%= locals.errors && errors.producto ? errors.producto.msg : null %></small>
                    </div>
                    <div class="form-group row"> 
                      <div class="col-md-6"> <!-- Dividir en 2 columnas para que cada campo ocupe la mitad de la fila -->
                        <label for="cantidad">Cantidad a Retirar:</label>
                        <input type="number" class="form-control cantidadRetiro <%= (locals.errors && errors.cantidad) && 'is-invalid'%>"  id="cantidadRetiro" name="cantidad" placeholder="Ingrese cantidad">
                        <small id="errorCantidad" class="text-danger ms-2"><%= locals.errors && errors.cantidad ? errors.cantidad.msg : null %></small>
                      </div>
                      <div class="col-md-6"> <!-- Dividir en 2 columnas para que cada campo ocupe la mitad de la fila -->
                        <label for="acta">Acta de entrega</label>
                        <input type="number" class="form-control actaRetiro <%= (locals.errors && errors.acta) && 'is-invalid'%>"  id="acta" name="acta" placeholder="Numero de acta">
                        <small id="errorActa" class="text-danger ms-2"><%= locals.errors && errors.acta ? errors.acta.msg : null %></small>
                      </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Retirar</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                  </form>
                  <small id="errorRetirosForm" class="text-danger"></small>
                </div>
              </div>
            </div>
    
          </div>
        </div>
      </div>
    </div>               
                            </div>
                          </div>
                          <% }) %> 
                <% } else { %>

                    <h5 class="text-center">No se encontraron resultados para tu busqueda...</h5>

                  <!--   <div class="container mt-4">
                      <iframe width="560" height="315" src="https://www.youtube.com/embed/tW2tyE4rpRw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    </div>
                   -->
                  <% } %>
            </div>          
    </main>







    <!-- BOOTSTRAP -->
    <%- include('../partials/scripts') %> 

</body>
</html>