<!DOCTYPE html>
<html lang="en">
  <%- include('../../partials/head') %>

  <body style="background-color: rgb(243, 241, 238)">
    <nav class="navbar navbar-expand-sm navbar-light bg-light shadow-3">
      <div class="container">
        <button
          class="navbar-toggler d-lg-none"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapsibleNavId"
          aria-controls="collapsibleNavId"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <button
          class="btn btn-transparent"
          type="button"
          data-bs-toggle="offcanvas"
          data-bs-target="#offcanvasRight"
          aria-controls="offcanvasRight"
        >
          <img
            id="userIconProfile"
            src="<%= /http/.test(userLogin.icon) ? userLogin.icon : `/images/iconsProfile/${userLogin.icon}` %>"
            class="iconProfile me-2"
            alt=""
          />
          <%= userLogin.name %> <i class="fa-solid fa-caret-down fa-lg"></i>
        </button>   
        <!-- Menú de navegación -->
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto"> <!-- 'ms-auto' para alinear a la derecha -->            
            <li class="nav-item">
              <a class="nav-link" href="/gestionweb">Regresar</a>
            </li>          
          </ul>
        </div>
      </div>    
    </nav>

    <main>
      <%- include('../../partials/modals') %> <%- include('../../partials/canvasMenu')
      %>


      <!-- TITULO H1 -->
      <div class="container-fluid mt-4">
        <p class="text-black h2 text-center shadow-3">
          <strong>Proyectos Productivos en: <%= procedencia.nombreDestino %></strong>
        </p>
        <hr class="text-black" />      
        
      </div>
      
      <div class="container d-flex justify-content-center align-content-center gap-2">     
   <a href="/stock/newProyect" class="btnAction  shadow"> <button type="button" class="btn btn-sm btn-danger font-weight-bold">
    Nuevo proyecto <br><i class="fa-solid fa-receipt fa-lg"></i>
 </button></a>     
  
      </div>
      
      <!-- TABLA DE PRODUCTOS -->
  
      <div class="container-fluid">
        <button type="button" class="btn btn-outline-primary ms-3 btn-sm mt-1 mb-2" onclick="window.location.href='/stock/proyectsTable'">
          <i class="fa-solid fa-download"></i> Exportar Excel</i>
        </button>
              <br> 
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">proyecto</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Expediente</th>
                    <th scope="col">Procedencia</th>
                    <th scope="col">Duración</th>                  
                    <th scope="col">Costo total</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
              <% proyectos.forEach(item=> { %>
                <tr>
                  <td class="text-center">
                    <%= item.nombre %>
                  </td>
                  <td>
                    <% if (item.estado === "Pendiente") { %>
                      <%= item.estado %>  <i class="fa-solid fa-spinner text-danger"></i>
                      <% } else { %>
                      <%= item.estado %>  <i class="fa-solid fa-check text-success"></i>
                      <% } %>
                  </td>
                  <td>
                    <%= item.expediente %>
                  </td>
                  <td>
                    <%= item.procedencia %>
                  </td>
                  <td>
                    <%= item.duracion %>
                      <%= item.unidadDuracion %>
                  </td>
                  
                  <td>$ <%= item.costoTotalProyecto %>
                  </td>
                  <td>
                    <div class="d-flex align-content-center justify-content-center gap-1">
                      <!-- Enlace para informar insumos adquiridos -->
                      <a href="/stock/informeInsumos/<%= item.id %>"><button class="btn btn-info"><i class="fa-solid fa-tags"></i></button></a> 
                      <!-- Enlace para editar -->
                               
                      <!-- Boton descarga historial de reformulaciones en excel -->
                      <a href="/stock/reformulaciones/<%= item.id %>"><button class="btn btn-primary "><i
                            class="fa-solid fa-clock-rotate-left"></i></button></a>
                    </div>                 
                  </td>
                </tr>
                <% }) %>
            </tbody>
            </table>
            </div>

   
    </main>

    <%- include('../../partials/scripts') %>

    <script
      src="//code.tidio.co/hlix5kfat3m92rb4tfebsyogegqfbmo3.js"
      async
    ></script>

    <script>
      const deleteForms = document.querySelectorAll('.deleteProductForm');

deleteForms.forEach(form => {
    form.addEventListener('submit', function (event) {
        event.preventDefault();

        Swal.fire({
            title: "Seguro quieres borrar el producto??",
            text: "Chequea bien el producto que deseas eliminar",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#3085d6",
            cancelButtonColor: "#d33",
            confirmButtonText: "Si, eliminar!"
        }).then((result) => {
            if (result.isConfirmed) {
                Swal.fire({
                    title: "Eliminado!",
                    text: "El producto fue eliminado",
                    icon: "success"
                });

                form.submit();
            }
        });
    });
});
    </script>
  </body>
</html>
