<!DOCTYPE html>
<html lang="en">
  <%- include('../../partials/head') %>

  <body style="background-color: rgb(243, 241, 238)">
    <nav class="navbar navbar-expand-sm navbar-light bg-light shadow-3">
      <div class="container">
        <button
          class="navbar-toggler d-lg-none"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapsibleNavId"
          aria-controls="collapsibleNavId"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <button
          class="btn btn-transparent"
          type="button"
          data-bs-toggle="offcanvas"
          data-bs-target="#offcanvasRight"
          aria-controls="offcanvasRight"
        >
          <img
            id="userIconProfile"
            src="<%= /http/.test(userLogin.icon) ? userLogin.icon : `/images/iconsProfile/${userLogin.icon}` %>"
            class="iconProfile me-2"
            alt=""
          />
          <%= userLogin.name %> <i class="fa-solid fa-caret-down fa-lg"></i>
        </button>       
    </nav>

    <main>
      <%- include('../../partials/modals') %> <%- include('../../partials/canvasMenu')
      %>


      <!-- TITULO H1 -->
      <div class="container-fluid mt-4">
        <p class="text-black h2 text-center shadow-3">
          <strong>Nuevo Proyecto Productivo +</strong>
        </p>
        <hr class="text-black" />        
    

        <!-- FORMULARIO AGREGAR TALLER -->


        <div class="container shadow">
          <form action="/stock/newProyect" method="POST">
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="nombre">Nombre</label>
                <input type="text" class="form-control <%= (locals.errors && errors.nombre) && 'is-invalid'%>" id="nombre" name="nombre" placeholder="Ingrese el nombre del taller" value="<%= (locals.old && old.nombre) && old.nombre %>">
                <small id="errorNombre" class="text-danger ms-2"><%= locals.errors && errors.nombre ? errors.nombre.msg : null %></small>
              </div>
              <div class="form-group col-md-6">
                <div class="form-group col-md-12">
                  <label for="expediente">Expediente</label>
                  <input type="text" class="form-control <%= (locals.errors && errors.expediente) && 'is-invalid'%>" id="expediente" name="expediente" placeholder="Ingrese n° de expediente" value="<%= (locals.old && old.expediente) && old.expediente %>">
                  <small id="errorNombre" class="text-danger ms-2"><%= locals.errors && errors.expediente ? errors.expediente.msg : null %></small>
                </div>    
              </div>           

              <div class="form-group col-md-6">
                <label for="destino" class="form-label">Taller</label>
                <select id="destino" class="form-control rounded <%= (locals.errors && errors.destino) && 'is-invalid'%>" name="destino">
                    <!-- aca recorro los talleres existentes con un foreach -->
                </select>
                <small id="errorNombre" class="text-danger "><%= locals.errors && errors.destino ? errors.destino.msg : null %></small>
              </div>  

              <div class="form-group col-md-6">
                <label for="detalle">Producto</label>
                <select id="destino" class="form-control rounded <%= (locals.errors && errors.destino) && 'is-invalid'%>" name="destino">
                  <!-- aca recorro los productos existentes con un foreach -->
              </select>
                <small id="errorDetalle" class="text-danger ms-2"><%= locals.errors && errors.detalle ? errors.detalle.msg : null %></small>               
              </div>     

            <div class="form-group col-md-12">
              <label for="detalle">Detalle</label>
              <textarea name="detalle" class="form-control <%= (locals.errors && errors.detalle) && 'is-invalid'%>" id="detalle" placeholder="Ingrese el detalle" value="<%= (locals.old && old.detalle) && old.detalle %>"></textarea>    
              <small id="errorDetalle" class="text-danger ms-2"><%= locals.errors && errors.detalle ? errors.detalle.msg : null %></small>               
            </div>   
            
            <div class="form-group col-md-6">
              <label for="nombre">Cantidad a producir</label>
              <input type="number" class="form-control <%= (locals.errors && errors.nombre) && 'is-invalid'%>" id="nombre" name="nombre" placeholder="Ingrese el nombre del taller" value="<%= (locals.old && old.nombre) && old.nombre %>">
              <small id="errorNombre" class="text-danger ms-2"><%= locals.errors && errors.nombre ? errors.nombre.msg : null %></small>
            </div>

            
            <div class="form-group col-md-6">
              <label for="detalle">Procedencia</label>
              <select id="destino" class="form-control rounded <%= (locals.errors && errors.destino) && 'is-invalid'%>" name="destino">
                <!-- aca van las opciones si es de unidad o desde sede centrarl -->
            </select>
              <small id="errorDetalle" class="text-danger ms-2"><%= locals.errors && errors.detalle ? errors.detalle.msg : null %></small>               
            </div> 

            <div class="form-group col-md-6">
              <label for="nombre">Duración</label>
              <input type="number" class="form-control <%= (locals.errors && errors.nombre) && 'is-invalid'%>" id="nombre" name="nombre" placeholder="Ingrese el nombre del taller" value="<%= (locals.old && old.nombre) && old.nombre %>">
              <small id="errorNombre" class="text-danger ms-2"><%= locals.errors && errors.nombre ? errors.nombre.msg : null %></small>
            </div>

            <div class="form-group col-md-6">
              <label for="detalle">Unidad de duración</label>
              <select id="destino" class="form-control rounded <%= (locals.errors && errors.destino) && 'is-invalid'%>" name="destino">
                <!-- aca recorro con un foreach los distintos tipos de medida que cargue desde un seeder -->
            </select>
              <small id="errorDetalle" class="text-danger ms-2"><%= locals.errors && errors.detalle ? errors.detalle.msg : null %></small>               
            </div> 

          </div>
            <button type="submit" class="btn btn-primary mb-3">Enviar</button>
          </form>
        </div>

    </main>

    <%- include('../../partials/scripts') %>

    <script
      src="//code.tidio.co/hlix5kfat3m92rb4tfebsyogegqfbmo3.js"
      async
    ></script>
  </body>
</html>
