<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head')  %>    
<body > 
    <main>
      <%- include('../partials/modals')  %>    
      <%- include('../partials/canvasMenu')  %> 


      <div id="wrapper">	

		<!-- Sidebar -->
		<ul class="navbar-nav bg-gradient-secondary sidebar sidebar-dark accordion" id="accordionSidebar">			

			<!-- Divider -->
			<hr class="sidebar-divider my-0">

			<!-- Nav Item - Dashboard -->
			<li class="nav-item active">
				<a class="nav-link" href="#">
					<i class="fas fa-fw fa-tachometer-alt"></i>
					<span>Panel de Control</span></a>
			</li>

			<!-- Divider -->
			<hr class="sidebar-divider">

			<!-- Heading -->
			<div class="sidebar-heading mb-1">Menú</div>

			<!-- Nav Item - Charts -->
			<li class="nav-item">			
				<button type="button" class="btn btn-danger nav-link mb-1" data-bs-toggle="modal" data-bs-target="#tablaDeStock" >
					<span><i class="fa-solid fa-triangle-exclamation"></i></span> Proyectos Demorados <span class="position-absolute top-0 start-100 p-1 translate-middle badge rounded-pill bg-danger shadow-sm" id="demorados">						
						<span class="visually-hidden">Proyectos demorados</span>
					  </button>
		</li>

			<!-- Nav Item - Charts -->
			<li class="nav-item">
					<button type="button" class="btn btn-primary nav-link" data-bs-toggle="modal" data-bs-target="#allProductsInDB" >
					<span><i class="fa-solid fa-gears"></i></span> Tabla de Productos <span class="position-absolute top-0 start-100 p-1 translate-middle badge rounded-pill bg-primary shadow-sm" id="productsCount">						
						<span class="visually-hidden">Proyectos demorados</span>
					  </button>
			</li>
				
				<!-- Nav Item - Pages -->
			<li class="nav-item mt-1">
				<button type="button" class="btn btn-success nav-link collapsed" data-bs-toggle="modal" data-bs-target="#internosTrabajadores">
					<i class="fa-solid fa-people-group"></i> Internos trabajadores
				  </button>
			</li>


			<!-- Nav Item - Pages -->
			<!-- <li class="nav-item">
				<a class="nav-link collapsed" href="/cunas/retiros">
					<i class="fa-solid fa-book"></i>
					<span>Registro de Retiros</span>
				</a>
			</li> -->
						

			<!-- Nav Item - Tables -->
			<li class="nav-item">
				<a class="nav-link" href="/gestionweb">
					<i class="fa-solid fa-house"></i>
					<span>Ir al Inicio</span></a>
			</li>

			<!-- Divider -->
			<hr class="sidebar-divider d-none d-md-block">
		</ul>
		<!-- End of Sidebar -->

			<!-- Content Wrapper -->
			<div id="content-wrapper" class="d-flex flex-column">

				<!-- Main Content -->
				<div id="content">
	
					<!-- Topbar -->
					<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
	
						<!-- Sidebar Toggle (Topbar) -->
						<button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
							<i class="fa fa-bars"></i>
						</button>
	
						<!-- Topbar Navbar -->
						<ul class="navbar-nav ml-auto">					
	
							<div class="topbar-divider d-none d-sm-block"></div>
	
							<!-- Nav Item - User Information -->
							<li class="nav-item dropdown no-arrow">
								<a class="nav-link dropdown-toggle" href="/users/perfil" id="userDropdown">
									<% if (locals.userLogin) { %>
										<span class="mr-2 d-none d-lg-inline text-gray-600 small"><%= locals.userLogin.name %></span>
										<img class="img-profile rounded-circle" src="<%= /http/.test(locals.userLogin.icon) ? locals.userLogin.icon : `/images/iconsProfile/${locals.userLogin.icon}` %>" alt="Jordan Walke - Creador de React" width="60">
									<% } %>									
								</a>
							</li>	
						</ul>					
					</nav>

					<!-- End of Topbar -->

				
        <!-- Content Row Top -->
		<div class="container-fluid mt-3">
			<!-- Content Row -->
			<div class="row d-flex  flex-md-wrap">

				<!-- Productos in Data Base -->
				<div class="col-md-3 mb-4 flex-shrink-0">
					<div class="card border-left-primary shadow h-100 py-2">
						<div class="card-body">
							<div class="row no-gutters align-items-center">
								<div class="col mr-2" id="productos">
									<!-- Contenido cargado desde JavaScript -->
								</div>
								<div class="col-auto">
									<i class="fa-solid fa-tag fa-2x text-gray-300"></i>
								</div>
							</div>
						</div>
					</div>
				</div>

					
				<!-- Talleres funcionando -->
				<div class="col-md-3 mb-4 flex-shrink-0">
					<div class="card border-left-warning shadow h-100 py-2">
						<div class="card-body">
							<div class="row no-gutters align-items-center">
								<div class="col mr-2" id="talleres">
									<!-- Contenido cargado desde JavaScript -->
								</div>
								<div class="col-auto">
									<i class="fa-solid fa-gear fa-2x text-gray-300"></i>
								</div>
							</div>
						</div>
					</div>
				</div>
		
				<!-- Proyectos en proceso-->
				<div class="col-md-3 mb-4 flex-shrink-0">
					<div class="card border-left-info shadow h-100 py-2">
						<div class="card-body">
							<div class="row no-gutters align-items-center">
								<div class="col mr-2" id="proyectsPending">
									<!-- Contenido cargado desde JavaScript -->
								</div>
								<div class="col-auto">
									<i class="fa-solid fa-spinner fa-2x text-gray-300"></i>
								</div>
							</div>
						</div>
					</div>
				</div>

		
				<!-- Proyectos finalizados-->
				<div class="col-md-3 mb-4 flex-shrink-0">
					<div class="card border-left-success shadow h-100 py-2">
						<div class="card-body">
							<div class="row no-gutters align-items-center">
								<div class="col mr-2" id="proyectsDone">
									<!-- Contenido cargado desde JavaScript -->
								</div>
								<div class="col-auto">
									<i class="fa-solid fa-circle-check fa-2x text-gray-300"></i>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		
						<!-- Ultimos agregados -->
						<div class="col-lg-12 mb-4">						
							<div class="card shadow mb-4">
								<div class="card-header py-3">
									<div class="d-flex justify-content-between">
										<h5 class="m-0 font-weight-bold text-gray-800">Últimos Proyectos Agregados</h5>
										
									</div>									
								</div>
								<div class="card-body">
									<div class="row" id="lastProyects">										

									</div>
								</div>
							</div>
						</div>

							
					    <section class="container-fluid">
							<hr>
							<p class="text-center h3 text-success fw-bold">Buscadores <i class="fa-brands fa-searchengin"></i></p>
							

							<!-- BUSCADOR DE PRODUCTO -->
						  <div class="container mt-5 shadow">
							<p class="text-center h5 mb-3">Buscar Producto <i class="fa-solid fa-tag fa-sm"></i></p>
							<form action="/stock/searchProduct" class="row g-3" id="searchProduct" onsubmit="return validarFormulario()">
							  <div class="col-md-11">
								  <input type="search" class="form-control" id="inputProducto" name="search" placeholder="Escribe el nombre del producto">
							  </div>
							  <div class="col-md-1 mb-4">
								  <button type="submit" class="btn btn-primary">Buscar</button>
							  </div>
						  </form>
						</div>
						  </section>
					  
						  <!-- BUSCADOR DE TALLERES -->
						  <section>
							<div class="container mt-3 shadow">
							  <p class="text-center h5 mb-3">Buscar Taller <i class="fa-solid fa-screwdriver-wrench fa-sm"></i></p>
							  <form action="/stock/searchTaller" method="POST" class="row g-3" onsubmit="return validarFormBuscarTaller()" id="searchTallerForm">
								<div class="col-md-6">
								  <input type="search" class="form-control" id="inputTaller" name="nombre" placeholder="Escribe el nombre del taller">
								</div>
								<div class="col-md-6">
								  <select id="inputDestino" class="form-control <%= (locals.errors && errors.destino) && 'is-invalid'%>" name="destino">
									<option value="" selected hidden>Seleccione el destino del taller...</option>
									<% destinos.forEach(({nombreDestino, id}) => { %>
									  <option value="<%= id %>"> <%= nombreDestino %> </option>
									<% }) %>
								  </select>
								</div>
								<div class="col-md-6 mb-4">
								  <button type="submit" class="btn btn-primary">Buscar</button>
								</div>
							  </form>
							</div>
						  </section>
					  
						  <section class="mb-5">
							<!-- BUSCADOR DE PROYECTOS -->
						  <div class="container mt-3 shadow">
							<p class="text-center h5 mb-3">Buscar Proyecto <i class="fa-solid fa-receipt fa-sm"></i></p>
							<form action="/stock/searchProyect" method="POST" class="row " id="searchProyect" onsubmit="return validarFormularioBuscarProyecto()">
							  <div class="col-md-4 mb-3">
								  <input type="text" class="form-control" id="expediente" name="expediente" placeholder="Ingresa numero de expediente (ej: EX-2023-114492446-APN-DS#ENCOPE)">           
							  </div>
							  <div class="col-md-4 mb-3">
								<input list="talleres" class="form-control" id="taller" name="taller" placeholder="Ingresa el nombre del taller..."> 
								<datalist id="talleres">
								  <% talleres.forEach(taller => { %>
									<option value="<%= taller.id %>"><%= taller.nombre %></option>
								  <% }) %>           
								</datalist>          
							</div>
							<div class="col-md-4 mb-3">
							  <input list="unidades"  class="form-control" id="procedencia" name="procedencia" placeholder="Ingresa la unidad o complejo...">  
							  <datalist id="unidades">
								<% destinos.forEach(destino => { %>
								  <option value="<%= destino.nombreDestino %>"><%= destino.nombreDestino %></option>
								<% }) %>          
							  </datalist>              
						  </div>
							  <div class="col-md-12 mb-4 w-100 mt-3">
								  <button type="submit" class="btn btn-primary">Buscar</button>
							  </div>
						  </form>
						</div>
						  </section><br><br><br>
					
	
					<!-- Content Row Last Movie in Data Base -->
					<div class="row">

						<!-- Last Movie in DB -->
						<div class="col-lg-12 mb-4" id="">
							
						</div>

						<div id="stockGeneral">

						</div>
						<!-- End content row last movie in Data Base -->

					
					</div>
				</div>
				<!--End Content Row Top-->
			</div>
			<!-- End of MainContent -->


			<!-- MODALES -->


			<!-- MODAL PROYECTOS DEMORADOS -->
			<div class="modal fade" id="tablaDeStock" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog modal-xl">
				  <div class="modal-content">
					<div class="modal-header">
					  <h5 class="modal-title text-danger fw-bold " id="exampleModalLabel">Proyectos Demorados <i class="fa-solid fa-triangle-exclamation"></i></h5>				 
					  
					  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
					 
					<div class="contenedor">
				<table class="table">     
					<thead>
						<tr>
							<th>Proyecto</th>
							<th>Expediente</th>
							<th>Procedencia</th>
							<th>Duración</th>
							<th>Fecha de inicio</th>
							<th>Última actualización </th>
						</tr>
					</thead>
					<tbody id="tablaDeProyectosDemorados">   
					
					
					</tbody>
				</table>
			  </div>
					</div>
					<div class="modal-footer">
					  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
					</div>
				  </div>
				</div>
			</div>

			

			<!-- MODAL TABLA DE PRODUCTOS -->

			<div class="modal fade" id="allProductsInDB" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog modal-xl">
				  <div class="modal-content">
					<div class="modal-header">
					  <p class="modal-title h5 fw-bold" id="exampleModalLabel">Productos en base de datos</p>				 
					  <button type="button" class="btn btn-primary btn-sm ms-2"
						onclick="window.location.href='/stock/ProductsTable'">
						<i class="fa-solid fa-download"></i>
						</button>
					  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						
					 
					<div class="contenedor">
				<table class="table">     
					<thead>
						<tr>
							<th>Imagen</th>
							<th>Nombre</th>
							<th>Detalle</th>
							<th>Unidad de medida</th>
							<th>Ficha Tecnica</th>							
						</tr>
					</thead>
					<tbody id="tablaDeProductosenDB" class="align-content-center align-items-center">   
					
					
					</tbody>
				</table>
			  </div>
					</div>
					<div class="modal-footer">
					  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
					</div>
				  </div>
				</div>
			</div>
			  

    </main>


    
   
    
    <%- include('../partials/scripts')  %>
    
    <script src="/js/estadisticasStock.js"></script>
    </body>
    </html>