<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head')  %>    
<body  style="background-color: rgb(243, 241, 241);">
  
    <nav class="navbar navbar-expand-sm navbar-light bg-light shadow-3">
        <div class="container">
        <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId"
          aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <button class="btn btn-transparent" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"><img id="userIconProfile" src="<%= /http/.test(userLogin.icon) ? userLogin.icon : `/images/iconsProfile/${userLogin.icon}` %>" class="iconProfile me-2" alt="">
          <%= userLogin.name %> <i class="fa-solid fa-caret-down fa-lg"></i></button>        
      </div>
    </nav><br>

    <main>
      <%- include('../partials/modals')  %>    
      <%- include('../partials/canvasMenu')  %> 
     

        <div class="container-fluid mb-2"><p class="text-black h2 text-center shadow-3"><strong>Registro de retiros de stock</strong></p>

          <div class="d-flex justify-content-between gap-2 mt-3">
            <button type="button" class="btn btn-outline-primary ms-3 btn-sm mt-1" onclick="window.location.href='/cunas/tablaRetirosStock'">
              <i class="fa-solid fa-download"></i> Exportar Excel</i>
            </button><br>  
            <small class="text-danger text-white">Las cantidades retiradas se suman automaticamente en el stock del CPFII *</small>           
          </div>
         
          </div>



          <div class="container-fluid">
            <table class="table">                
                <thead>
                    <tr>                  
                        <th>Destino</th>
                        <th>Producto</th>
                        <th>Cantidad Retirada</th>
                        <th>N° Acta</th>
                        <th>Fecha</th>
                    </tr>
                </thead>
                <tbody>
                  <% stocks.forEach(stock => { %>

                    <% if (stock.destino.id !== 31) { %>
                      <tr>                  
                        <td data-label="Destino"><%= stock.destino.nombreDestino %></td>
                        <td data-label="Producto"><%= stock.producto.nombre %></td>
                        <td data-label="Cantidad"><%= stock.cantidadRetirada %></td>
                        <td data-label="Cantidad"><%= stock.actaEntrega %></td>
                        <td data-label="ültima Actualización"><%= new Intl.DateTimeFormat('es-AR', {
                          year: 'numeric',
                          month: 'long',
                          day: 'numeric',
                          hour: 'numeric',
                          minute: 'numeric',
                          second: 'numeric',
                          timeZone: 'America/Argentina/Buenos_Aires'
                        }).format(new Date(stock.updatedAt)) %> </td>
                        
                    </tr>      
                    <% } %>                   
                  <% }) %>                  
                </tbody>
            </table>
          </div>



    </main>

    <script>
      const icon = document.getElementById('userIconProfile')
      const cardImg = document.getElementById('imgIcon')
      icon.addEventListener('error', () => {
      icon.src = 'https://cdn-icons-png.flaticon.com/512/149/149071.png'
    
    })
    
    cardImg.addEventListener('error', () => {
      cardImg.src = 'https://cdn-icons-png.flaticon.com/512/149/149071.png'
    })
    
    </script>
    
    <script>
      function showAlertAndSubmit(event) {
        event.preventDefault();
    
        Swal.fire({
          title: '¿Estas seguro de editar tu información?',
          icon: 'warning',
          showCancelButton: true,
          confirmButtonColor: '#3085d6',
          cancelButtonColor: '#d33',
          confirmButtonText: 'Si, editar'
        }).then((result) => {
          if (result.isConfirmed) {
            // Si el usuario confirmó el alert, envía el formulario manualmente
            const form = document.getElementById("editInfo");
            Swal.fire({
      position: 'center',
      icon: 'success',
      title: 'Informacion editada correctamente',
      showConfirmButton: false,
      timer: 1500
    })
    
            // Retraso de 5 segundos antes de enviar el formulario y cambiar la página
            setTimeout(function() {
              form.submit();
            }, 1000); // 2000 milisegundos = 2 segundos
          }
        });
      }
    </script>
    
    <%- include('../partials/scripts')  %>
    
    <script src="/js/retiros.js"></script>
    <script src="//code.tidio.co/hlix5kfat3m92rb4tfebsyogegqfbmo3.js" async></script>
    </body>
    </html>